/*
https://jdan.github.io/98.css/

Copyright 2020 Jordan Scales

Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
*/

/*98 theme*/
body[data-tema="98"] {
  font-family: 'Pixelated MS Sans Serif', Arial !important;
  background-color: silver !important;

  box-shadow: inset 2px 2px #dfdfdf;
}

body[data-tema="98"] .tabcontent, body[data-tema="98"] .tabs-navbar {
  width: 95%;
}

body[data-tema="98"] .tabcontent {
  z-index: 2 !important;
  position: relative;
}

body[data-tema="98"] .tabs-navbar:not([style*="none"]) + .tabcontent {
  margin-top: 0 !important;

  position: relative;
}

body[data-tema="98"] .tabs-navbar {
  margin: 20px auto -17px auto !important;
  align-content: start !important;
  justify-content: start !important;

  background: none !important;
  box-shadow: none !important;

  min-height: auto !important;
  padding-bottom: 0 !important;

  gap: 0px !important;
  z-index: 1 !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
}

body[data-tema="98"] .tabs-navbar > div {
  width: fit-content;

  flex: 0 0 auto !important;

  background: silver;
  box-shadow: inset 1px 1px #fff,inset 2px 2px #dfdfdf,inset -1px 0 #000,inset -2px 0 #7f7f7f;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;

  position: relative;
  align-self: start !important;

  padding: 7px;
  padding-bottom: 10px;
  border-bottom: none;

  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  box-shadow: inset -1px 0 #0a0a0a,inset 1px 1px #dfdfdf,inset -2px 0 grey,inset 2px 2px #fff;

  font-weight: normal !important;
}

body[data-tema="98"] .tabs-navbar > div:not(.active) {
  z-index: 1 !important;
}

body[data-tema="98"] .tabs-navbar > div.active {
  z-index: 3 !important;
}

body[data-tema="98"] .tabcontent {
  margin-bottom: 20px !important;
}

body[data-tema="98"] .tabcontent > div {
  background-color: silver !important;
  padding: 15px;

  box-shadow: inset 1px 1px #fff,inset 2px 2px #dfdfdf,inset -1px -1px #0a0a0a,inset -2px -2px grey;

  min-height: 100px !important;
}

body[data-tema="98"] .tabcontent > div > div {
  width: 100% !important;
  height: 100% !important;
  padding-top: 20px !important;
  padding-bottom: 20px !important;

  box-shadow: none;
  background-color: silver !important;

  box-shadow: inset 1px 1px #fff,inset 2px 2px #dfdfdf,inset -1px -1px #0a0a0a,inset -2px -2px grey;
  border-radius: 0 !important;
}

body[data-tema="98"] .tabcontent > div > div > *:nth-child(1) {
  background-color: transparent !important;
  border-bottom: none !important;
}

body[data-tema="98"] .tabcontent > div > div > *:nth-child(2) {
  margin: 20px 20px auto 20px !important;

  box-shadow: none;
  background-color: silver !important;

  box-shadow: inset 1px 1px #fff,inset 2px 2px #dfdfdf,inset -1px -1px #0a0a0a,inset -2px -2px grey;

  border: none !important;
}

body[data-tema="98"] .tabcontent > div > div > a:nth-child(1) {
  color: #0000ee !important;
  font-weight: bold !important;
}

body[data-tema="98"] .tabcontent > div > div > a:nth-child(1):hover {
  text-decoration: underline;
}

body[data-tema="98"] .tabcontent > div > div > a:nth-child(2):active {
  background: silver !important;
  box-shadow: inset -1px -1px #fff,inset 1px 1px #0a0a0a,inset -2px -2px #dfdfdf,inset 2px 2px grey;
}

body[data-tema="98"] .tabcontent > div > div > a:nth-child(2):focus {
  outline: 1px dotted #000;
  outline-offset: -4px;
}

body[data-tema="98"] nav {
  font-family: 'Trebuchet MS', Arial;
  background: linear-gradient(90deg,navy,#1084d0);
  box-shadow: inset 1px 1px #fff,inset 2px 2px #dfdfdf;
}

body[data-tema="98"] nav > div > div > div > a {
  font-weight: bold !important;
}

body[data-tema="98"] nav > div > div:has(a):not(:has(div > a)) {
  margin-top: 0.75rem;
}

body[data-tema="98"] nav > div > div > div > .navbar-divider {
  font-family: "AdwaitaSans-Regular" !important;
}

body[data-tema="98"] nav > div > div > div:not(:has(.navbar-divider)):not(:has(a)), body[data-tema="98"] nav > div > button {
  color: #222 !important;
  border: none;
  background: silver;
  box-shadow: inset -1px -1px #0a0a0a,inset 1px 1px #fff,inset -2px -2px grey,inset 2px 2px #dfdfdf;
  border-radius: 0;
}

body[data-tema="98"] nav > div > div > div:not(:has(.navbar-divider)):not(:has(a)):active, body[data-tema="98"] nav > div > button:active {
  background: silver !important;
  border: none !important;
  box-shadow: inset -1px -1px #fff,inset 1px 1px #0a0a0a,inset -2px -2px #dfdfdf,inset 2px 2px grey;
}

body[data-tema="98"] nav > div > div > div:not(:has(.navbar-divider)):not(:has(a)):focus, body[data-tema="98"] nav > div > button:focus {
  outline: 1px dotted #000;
  outline-offset: -4px;
}

body[data-tema="98"] input {
  color: #222 !important;
  box-shadow: inset -1px -1px #fff,inset 1px 1px grey,inset -2px -2px #dfdfdf,inset 2px 2px #0a0a0a !important;

  border: 1px solid #7f9db9 !important;
  background-color: #fff !important;
  appearance: none;
  border-radius: 0;
}

body[data-tema="98"] #sidebar_main {
  padding: 0 !important;

  background-color: white;
  background-image: url("../../assets/img/wvleft.bmp");
  background-repeat: no-repeat;

  font-family: "Arial" !important;
}

body[data-tema="98"] #sidebar_main > div:first-child {
  font-family: 'Trebuchet MS', Arial;
  background: linear-gradient(90deg,navy,#1084d0);
  box-shadow: inset 1px 1px #fff,inset 2px 2px #dfdfdf;
  height: 32px;
}

body[data-tema="98"] #sidebar_main > div:first-child > button {
  color: #222 !important;
  border: none;
  background: silver;
  box-shadow: inset -1px -1px #0a0a0a,inset 1px 1px #fff,inset -2px -2px grey,inset 2px 2px #dfdfdf;
  border-radius: 0;

  height: 21px;
  width: 21px;
  padding: 6px 12px 6px 12px;

  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='8' height='7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 0h2v1h1v1h2V1h1V0h2v1H7v1H6v1H5v1h1v1h1v1h1v1H6V6H5V5H3v1H2v1H0V6h1V5h1V4h1V3H2V2H1V1H0V0z' fill='%23000'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: top 7px left 8px;
}

body[data-tema="98"] #sidebar_main > div:first-child > button:active {
  border: none !important;
  box-shadow: inset -1px -1px #fff,inset 1px 1px #0a0a0a,inset -2px -2px #dfdfdf,inset 2px 2px grey;
}

body[data-tema="98"] #sidebar_main > div:first-child > button:focus {
  outline: 1px dotted #000;
  outline-offset: -4px;
}

body[data-tema="98"] #sidebar_main > div:first-child > button > i.fa-close {
  display: none;
}

body[data-tema="98"] #sidebar_main > span {
  font-weight: bold;
  color: black;
  border-bottom: 1px solid transparent;
  border-image: url("../../assets/img/wvline.gif") 1 round;
  margin-bottom: 20px;
  font-size: 1.5rem;
}

body[data-tema="98"] #sidebar_main > div:not(:first-child) {
  padding-left: 19.95px;
  padding-right: 19.95px;
}

body[data-tema="98"] #sidebar_main > div > .nav-link {
  color: #0000ee;
  transition: none !important;
  padding: 5px 0 5px 0;

  background-color: transparent;
}

body[data-tema="98"] #sidebar_main > div > .nav-link:hover {
  text-decoration: underline;
}

body[data-tema="98"] select {
  /*padding-left: 0.5rem !important;*/
  padding: 3px 5px !important;

  margin: 0.5rem 1rem;

  color: #222 !important;
  box-shadow: inset -1px -1px #fff,inset 1px 1px grey,inset -2px -2px #dfdfdf,inset 2px 2px #0a0a0a;
  background-color: #fff;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='16' height='17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M15 0H0v16h1V1h14V0z' fill='%23DFDFDF'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M2 1H1v14h1V2h12V1H2z' fill='%23fff'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M16 17H0v-1h15V0h1v17z' fill='%23000'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M15 1h-1v14H1v1h14V1z' fill='gray'/%3E%3Cpath fill='silver' d='M2 2h12v13H2z'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M11 6H4v1h1v1h1v1h1v1h1V9h1V8h1V7h1V6z' fill='%23000'/%3E%3C/svg%3E");

  background-repeat: no-repeat;
  border-radius: 0;
  height: 23px;
  background-size: 15px;
  background-position: top 2px right 2px;
  font-size: 11px;

  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

body[data-tema="98"] select:active {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='16' height='17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 0h16v17H0V0zm1 16h14V1H1v15z' fill='gray'/%3E%3Cpath fill='silver' d='M1 1h14v15H1z'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12 7H5v1h1v1h1v1h1v1h1v-1h1V9h1V8h1V7z' fill='%23000'/%3E%3C/svg%3E");
}

body[data-tema="98"] select:focus {
  outline: none;
  color: #fff !important;
  background-color: navy !important;
}

body[data-tema="98"] .video-duracao {
  font-weight: normal;
}

body[data-tema="98"] .text-5xl {
  font-family: Arial !important;
}

body[data-tema="98"] .btn-dark {
  color: #222 !important;
  border: none;
  background: silver;
  box-shadow: inset -1px -1px #0a0a0a,inset 1px 1px #fff,inset -2px -2px grey,inset 2px 2px #dfdfdf;
  border-radius: 0;
}

body[data-tema="98"] .btn-dark:active {
  background: silver !important;
  border: none !important;
  box-shadow: inset -1px -1px #fff,inset 1px 1px #0a0a0a,inset -2px -2px #dfdfdf,inset 2px 2px grey;
}

body[data-tema="98"] .btn-dark:focus {
  outline: 1px dotted #000;
  outline-offset: -4px;
}

body[data-tema="98"] .list-group, body[data-tema="98"] .list-group-item {
  border: none !important;
}

body[data-tema="98"] .list-group-item::before {
  content: "\25CF";
  margin-right: 5px;
}

body[data-tema="98"] .page-404 > div > div > div {
  align-items: start !important;
}

body[data-tema="98"] .page-404 > div > div > div > p > *, body[data-tema="98"] .page-404 > div > div > div > ul {
  text-align: left !important;
}

body[data-tema="98"] .page-404 > div > div > div > p > i.fa-arrow-up {
  margin-left: 35px;
}

body[data-tema="98"] .page-404 > div > div > div > p > .btn-home {
  margin-left: 90px;
}

body[data-tema="98"] .page-404 > div > div > div > ul {
  /*background-color: silver !important;*/
  /*padding: 15px;*/

  /*box-shadow: inset 1px 1px #fff,inset 2px 2px #dfdfdf,inset -1px -1px #0a0a0a,inset -2px -2px grey;*/

  padding: 0;
}

body[data-tema="98"] .page-404 > div > div > div > ul > li {
  padding: 0;
}

body[data-tema="98"] .page-404 > div > div > div > ul > li::before {
  font-family: "Pixelated MS Sans Serif",Arial;
  font-size: 11px;
}
