body[data-tema="arredondado"] img {
  border-radius: 8px;
}

body[data-tema="arredondado"] .video-duracao {
  border-radius: 5px;
}

body[data-tema="arredondado"] .playlist-duracao {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

body[data-tema="arredondado"] iframe {
  border-radius: 12px;
}

body[data-tema="arredondado"] select {
    border-radius: 5px;
}

body[data-tema="arredondado"] .nav-link {
    border-radius: 5px;
}