body[data-tema="arredondado"] > .pagecontent > .row > .col > a > img, body[data-tema="arredondado"] > .pagecontent > .row > .col > a > div > img {
  border-radius: 8px;
}

body[data-tema="arredondado"] > .pagecontent > .row > .col > a > .video-length, body[data-tema="arredondado"] > .pagecontent > .row > .col > a > div > .video-length {
  border-radius: 5px;
}

body[data-tema="arredondado"] > .pagecontent > .row > .col > a > div > .playlist-length {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

body[data-tema="arredondado"] > .pagecontent > div > iframe {
  border-radius: 12px;
}

body[data-tema="arredondado"] > .navbar > .offcanvas > .offcanvas-body > ul  > li > select {
    border-radius: 5px;
}