/*estante theme*/
body[data-tema="estante"] {
  color: white !important;
  --background-wood4: url("../../assets/img/Wood004_1K-JPG_Color.jpg");
  --background-wood93: url("../../assets/img/Wood093_1K-JPG_Color.jpg");
  background-image: var(--background-wood4);
  font-family: "Palatino Linotype", Palatino, Baskerville, "Baskerville Old Face", Garamond, serif !important;
}

body[data-tema="estante"] nav, body[data-tema="estante"] .tabs-navbar {
  background-image: var(--background-wood93);
  border-bottom: 5px solid sienna;
}

body[data-tema="estante"] nav > div > div > div > a:hover, body[data-tema="estante"] nav > div > div > div > a:focus {
  background-color: rgba(0,0,0,.2) !important;
}

body[data-tema="estante"] .tab-link.active, body[data-tema="estante"] .tab-link:focus, body[data-tema="estante"] .tab-link:hover {
  border-color: white !important;
}

body[data-tema="estante"] .tab-link:not(.active):not(:focus):not(:hover) {
  border-color: transparent !important;
}

body[data-tema="estante"] input:not(:focus) {
  background-color: transparent !important;
}

body[data-tema="estante"] input:focus {
  background-color: rgba(0,0,0,.2) !important;
}

body[data-tema="estante"] #sidebar_main {
  background-image: var(--background-wood4);
}

body[data-tema="estante"] .console_list, body[data-tema="estante"] .maislinks_list {
  background-image: var(--background-wood93);
  border: 5px solid sienna;
}

body[data-tema="estante"] .console_list > a+a, body[data-tema="estante"] .maislinks_list > a+a {
  border-top: 5px solid sienna;
}

body[data-tema="estante"] select {
  background-image: var(--background-wood93);
  border: 5px solid sienna;
}

body[data-tema="estante"] .tabcontent > div {
  column-gap: 0 !important;
  row-gap: 2rem !important;
}

body[data-tema="estante"] .tabcontent > div > div {
  background-image: var(--background-wood93);
  border-left: 5px solid sienna;
  border-right: 5px solid sienna;
  border-radius: 0 !important;
  border-top: 5px solid sienna;
  border-bottom: 5px solid sienna;
}

@media only screen and (min-width: 640px) {
  body[data-tema="estante"] .tabcontent > div > div:nth-child(2n+1) {
    border-left: 5px solid sienna;
    border-right: none;
  }
  
  body[data-tema="estante"] .tabcontent > div > div:nth-child(2n+2) {
    border-left: none;
    border-right: 5px solid sienna;
  }
}

@media only screen and (min-width: 768px) {
  body[data-tema="estante"] .tabcontent > div > div:nth-child(4n+1) {
    border-left: 5px solid sienna;
    border-right: none;
  }

  body[data-tema="estante"] .tabcontent > div > div:nth-child(4n+2) {
    border-left: none;
    border-right: none;
  }

  body[data-tema="estante"] .tabcontent > div > div:nth-child(4n+3) {
    border-left: none;
    border-right: none;
  }
  
  body[data-tema="estante"] .tabcontent > div > div:nth-child(4n+4) {
    border-left: none;
    border-right: 5px solid sienna;
  }
}

@media only screen and (min-width: 1536px) {
  body[data-tema="estante"] .tabcontent > div > div:nth-child(5n+1) {
    border-left: 5px solid sienna;
    border-right: none;
  }

  body[data-tema="estante"] .tabcontent > div > div:nth-child(5n+2) {
    border-left: none;
    border-right: none;
  }

  body[data-tema="estante"] .tabcontent > div > div:nth-child(5n+3) {
    border-left: none;
    border-right: none;
  }

  body[data-tema="estante"] .tabcontent > div > div:nth-child(5n+4) {
    border-left: none;
    border-right: none;
  }
  
  body[data-tema="estante"] .tabcontent > div > div:nth-child(5n+5) {
    border-left: none;
    border-right: 5px solid sienna;
  }
}

body[data-tema="estante"] .tabcontent > div > div:last-child {
  border-right: 5px solid sienna;
}

body[data-tema="estante"] .tabcontent > .embed_content_list {
  gap: 0.5rem !important;
}

body[data-tema="estante"] .tabcontent > .embed_content_list > div {
  border: 5px solid sienna !important;
}

body[data-tema="estante"] .tabcontent > .stats_content_list > div:nth-child(2n+1) {
  border-left: 5px solid sienna;
  border-right: none;
}

body[data-tema="estante"] .tabcontent > .stats_content_list > div:nth-child(2n+2) {
  border-left: none;
  border-right: 5px solid sienna;
}

body[data-tema="estante"] .tabcontent > .stats_content_list > div:last-child {
  border-right: 5px solid sienna;
}

body[data-tema="estante"] .list-group-item {
  border-color: white !important;
}