/*estante theme*/
body[data-tema="estante"] {
  color: white !important;
  --background-wood4: url("../../assets/img/Wood004_1K-JPG_Color.jpg");
  --background-wood93: url("../../assets/img/Wood093_1K-JPG_Color.jpg");
  background-image: var(--background-wood4);
  font-family: "Palatino Linotype", Palatino, Baskerville, "Baskerville Old Face", Garamond, serif !important;
}

body[data-tema="estante"] > .pagecontent > div > div > a > span.title {
  color: white !important;
  font-weight: bold !important;
}

body[data-tema="estante"] > .pagecontent > div > div > a > span.subtitle {
  color: white !important;
  font-size: 0.8rem !important;

  background-color: sienna;
}

body[data-tema="estante"] > .navbar {
  background-image: var(--background-wood93);
  border-bottom: 5px solid sienna;
}

body[data-tema="estante"] > .navbar > center > div > span.page-name {
  color: white !important;
  font-weight: bold !important;
}

body[data-tema="estante"] > .navbar > center > div > span.page-name > .title-breadcrumb > .title-breadcrumb-item > a {
  color: white !important;
}

body[data-tema="estante"] > .navbar > center > div > span.page-name > .title-breadcrumb > .title-breadcrumb-item.active {
  font-weight: bold !important;
}

body[data-tema="estante"] > .navbar > center > div > span.page-name > .title-breadcrumb > .title-breadcrumb-item:not(.active):not(.title-breadcrumb-home) > a {
  font-weight: normal !important;
}

body[data-tema="estante"] > .navbar > center > div > button {
  background-image: none;
  background-color: transparent;
  border-color: transparent;
}

body[data-tema="estante"] > .navbar > div > div > button:not(.btn-close) {
  background-image: none;
  background-color: transparent;
  border-color: transparent;
}

body[data-tema="estante"] > .navbar > center > div > a.home-icon > button {
  background-image: none;
  background-color: transparent;
  border-color: transparent;
}

body[data-tema="estante"] > .pagecontent > p > a.btn-dark {
  color: white;
  background-image: var(--background-wood93);
  border-color: sienna;
  border-radius: 0;
}

body[data-tema="estante"] > .pagecontent > p > a.btn-dark:hover {
  color: black;
}

body[data-tema="estante"] > .navbar > div > div > div > input {
  background-image: none;
  background-color: transparent;
  border-color: sienna;
}

body[data-tema="estante"] > .navbar > div > div > div > input:focus {
  background-image: none !important;
  background-color: transparent !important;
}

body[data-tema="estante"] > .navbar > .offcanvas {
  background-image: var(--background-wood4);
}

body[data-tema="estante"] > .navbar > .offcanvas > .offcanvas-body > ul > li > select {
  background-color: transparent !important;
}

body[data-tema="estante"] > .navbar > .offcanvas > .offcanvas-body > ul.navbar-nav {
  background-image: var(--background-wood93);
  border: 5px solid sienna;
  padding-right: 0 !important;
}

body[data-tema="estante"] > .navbar > .offcanvas > .offcanvas-body > ul.navbar-nav > .nav-item {
  padding: 0 1rem 0 1rem;
}

body[data-tema="estante"] > .navbar > .offcanvas > .offcanvas-body > ul.navbar-nav > .nav-item+.nav-item {
  border-top: 5px solid sienna;
}

body[data-tema="estante"] > .navbar > .offcanvas > .offcanvas-body > ul.navbar-nav > .nav-item > select {
  border: 0px solid transparent;
  padding-left: 0 !important;
}

body[data-tema="estante"] > .pagecontent > .card, body[data-tema="estante"] > .pagecontent > .card > ul, body[data-tema="estante"] > .pagecontent > .card > ul > li {
  border-color: sienna  !important;
  background-color: transparent !important;
  color: white !important;
}

body[data-tema="estante"] > .pagecontent > .card > ul > li {
  padding-left: 0 !important;
  border-width: 5px;
}

body[data-tema="estante"] > .pagecontent > .card > ul {
  background-image: var(--background-wood93);
}

body[data-tema="estante"] > .pagecontent > .card > ul > .list-group-item:first-child {
  border-top-width: 5px;
}

body[data-tema="estante"] > .pagecontent > .card > ul > .list-group-item+.list-group-item {
  border-top-width: 0;
}

body[data-tema="estante"] > .pagecontent > .row > .col {
  background-image: var(--background-wood93);
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 5px solid sienna;
  border-bottom: 5px solid sienna;
}

body[data-tema="estante"] > .pagecontent > .row > .col {
  border-left: 5px solid sienna;
  border-right: 5px solid sienna;
}

@media only screen and (min-width: 576px) {
  body[data-tema="estante"] > .pagecontent > .row > .col:nth-child(2n+1) {
    border-left: 5px solid sienna;
    border-right: none;
  }
  
  body[data-tema="estante"] > .pagecontent > .row > .col:nth-child(2n+2) {
    border-left: none;
    border-right: 5px solid sienna;
  }
}

@media only screen and (min-width: 768px) {
  body[data-tema="estante"] > .pagecontent > .row > .col:nth-child(4n+1) {
    border-left: 5px solid sienna;
    border-right: none;
  }

  body[data-tema="estante"] > .pagecontent > .row > .col:nth-child(4n+2) {
    border-left: none;
    border-right: none;
  }

  body[data-tema="estante"] > .pagecontent > .row > .col:nth-child(4n+3) {
    border-left: none;
    border-right: none;
  }
  
  body[data-tema="estante"] > .pagecontent > .row > .col:nth-child(4n+4) {
    border-left: none;
    border-right: 5px solid sienna;
  }
}

body[data-tema="estante"] > .pagecontent > .row > .col:last-child {
  border-right: 5px solid sienna;
}

body[data-tema="estante"] > .tabs-navbar > .tabs-stack > .tab-btn > .tab-link.active {
  color: white !important;
}