/*geo theme*/
body[data-tema="geo"] {
    font-family: Arial !important;

    background-image: url("../../assets/img/azulestrellas.gif");
    background-repeat: repeat;
    background-attachment: fixed;
}

body[data-tema="geo"] #sidebar_main {
    background-image: url("../../assets/img/aquagalaxy_small.gif");
    background-repeat: repeat;
    background-attachment: fixed;
}

body[data-tema="geo"] .tabcontent {
    width: 90%;

    background-color: white;
    padding: 10px 5% 20px 5%;
    outline-color: silver;
    outline-style: ridge;

    margin-top: 20px;
    margin-bottom: 20px;
}

body[data-tema="geo"] .tabcontent > div > div {
    background-color: white;
    outline-color: silver;
    outline-style: ridge;

    border-radius: 0;
}

body[data-tema="geo"] .tabcontent > div > div > *:nth-child(1) {
    background-color: inherit;
    border-bottom: none !important;
}

body[data-tema="geo"] .tabcontent > div > div > a:nth-child(1) {
    color: Navy !important;
    font-weight: bold !important;
}

body[data-tema="geo"] .tabcontent > div > div > a:nth-child(1):hover {
    text-decoration: underline;
}

body[data-tema="geo"] .tabcontent > div > div > *:nth-child(2) {
    margin: 5px !important;

    background-image: linear-gradient(to top, rgb(207, 207, 207) 16%, rgb(252, 252, 252) 79%);
    border: 1px solid black;
    color: black;
    text-decoration: none;

    border-radius: 5px;
}

body[data-tema="geo"] .video-duracao {
  font-weight: normal;
}

body[data-tema="geo"] nav, body[data-tema="geo"] .tabs-navbar {
    background-color: Navy !important;
}

body[data-tema="geo"] nav > div > div > div > a:not(.navbar-home), body[data-tema="geo"] nav > div > div:has(a):not(:has(div > a)) > a {
    color: Aqua !important;
    font-weight: normal !important;
    background-color: transparent !important;
}

body[data-tema="geo"] nav > div > div > div > a:not(.navbar-home):hover, body[data-tema="geo"] nav > div > div:has(a):not(:has(div > a)) a:hover {
    text-decoration: underline;
}

body[data-tema="geo"] nav > div > div > div > a.navbar-home {
    background-image: url("../../assets/img/buttons/anihome112g.gif");
    background-repeat: no-repeat;
    width: 88px;
    display: block;
    padding-top: 5px;
    padding-bottom: 0px;
}

body[data-tema="geo"] nav > div > div > div > a.navbar-home > i::before {
    content: "";
}

body[data-tema="geo"] .search-btn > i::before {
    content: "Pesquisar";
}

body[data-tema="geo"] nav > div > div > div:not(:has(a)):not(:has(.navbar-divider)), body[data-tema="geo"] nav > div > button {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.16, rgb(207, 207, 207)), color-stop(0.79, rgb(252, 252, 252)));
    background-image: -moz-linear-gradient(center bottom, rgb(207, 207, 207) 16%, rgb(252, 252, 252) 79%);
    background-image: linear-gradient(to top, rgb(207, 207, 207) 16%, rgb(252, 252, 252) 79%);
    border: 1px solid black;
    color: black;
    text-decoration: none;
}

body[data-tema="geo"] input {
    color: black !important;
    background-color: white !important;
    border: 1px solid silver !important;
    border-radius: 4px !important;
}

body[data-tema="geo"] .tabs-navbar {
  align-content: start !important;
  justify-content: start !important;

  border-bottom: 1px solid black;
}

body[data-tema="geo"] .tabs-navbar > div {
    width: fit-content;

    flex: 0 0 auto !important;
    align-self: start !important;

    padding: 7px;
    border-bottom: none;

    transition: none !important;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.16, rgb(207, 207, 207)), color-stop(0.79, rgb(252, 252, 252)));
    background-image: -moz-linear-gradient(center bottom, rgb(207, 207, 207) 16%, rgb(252, 252, 252) 79%);
    background-image: linear-gradient(to top, rgb(207, 207, 207) 16%, rgb(252, 252, 252) 79%); 
    border: 1px solid black;
    color: black;
    text-decoration: none;
}

body[data-tema="geo"] .list-group, body[data-tema="geo"] .list-group-item {
    border: none !important;
}

body[data-tema="geo"] .list-group-item::before {
    content: "\25CF";
    margin-right: 5px;
}

body[data-tema="geo"] .btn-dark {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.16, rgb(207, 207, 207)), color-stop(0.79, rgb(252, 252, 252)));
    background-image: -moz-linear-gradient(center bottom, rgb(207, 207, 207) 16%, rgb(252, 252, 252) 79%);
    background-image: linear-gradient(to top, rgb(207, 207, 207) 16%, rgb(252, 252, 252) 79%); 
    border: 1px solid black;
    color: black;
    text-decoration: none;
}

body[data-tema="geo"] #sidebar_main > div:first-child > button {
    background-image: url("../../assets/img/buttons/aniback1g.gif");
    background-repeat: no-repeat;
    width: 88px;
    height: 31px;
}

body[data-tema="geo"] #sidebar_main > div:first-child > button > i.fa-close {
    display: none;
}

body[data-tema="geo"] #sidebar_main > div:first-child > button > i.fa-close::before {
    content: "";
}

body[data-tema="geo"] #sidebar_main > span {
    text-shadow: none;
    font-weight: bold;
    color: white;

    padding: 0.5rem 1rem !important;
}

body[data-tema="geo"] #sidebar_main > .console_list, body[data-tema="geo"] #sidebar_main > .themes_list, body[data-tema="geo"] #sidebar_main > .maislinks_list {
    background-color: white;
    padding: 10px 2%;
    outline-color: silver;
    outline-style: ridge;
}

body[data-tema="geo"] select {
    color: black !important;
    background-color: white !important;
    border: 1px solid silver !important;
    border-radius: 4px !important;
}

body[data-tema="geo"] select:focus {
    border: 1px solid black !important;
}

body[data-tema="geo"] #sidebar_main > span:nth-of-type(2)::after {
    content: url("../../assets/img/buttons/best_viewed_with_open_eyes.gif");
    background-repeat: no-repeat;
    height: 31px;
    padding-left: 5px;
    display: inline-block;
    background-position-y: center;
}

body[data-tema="geo"] .maislinks_list > a {
    color: Navy !important;
    background-color: transparent !important;
}

body[data-tema="geo"] .maislinks_list > a:hover {
    text-decoration: underline !important;
}

body[data-tema="geo"] .console_list > a {
    background-color: transparent !important;
}

body[data-tema="geo"] .console_list > a[href="console?id=nes"], body[data-tema="geo"] .console_list > a[href="https://arquivomsf.github.io/console?id=nes"] {
    background-image: url("../../assets/img/buttons/nes.gif");
    background-repeat: no-repeat;
    height: 31px;

    color: transparent !important;
    user-select: none !important;

    padding: 0 !important;
    margin: 0.5rem !important;
}

body[data-tema="geo"] .console_list > a[href="console?id=n64"], body[data-tema="geo"] .console_list > a[href="https://arquivomsf.github.io/console?id=n64"] {
    background-image: url("../../assets/img/buttons/n64_com_now.gif");
    background-repeat: no-repeat;
    height: 31px;

    color: transparent !important;
    user-select: none !important;

    padding: 0 !important;
    margin: 0.5rem !important;
}

body[data-tema="geo"] .console_list > a[href="console?id=gba"], body[data-tema="geo"] .console_list > a[href="https://arquivomsf.github.io/console?id=gba"] {
    background-image: url("../../assets/img/buttons/gameboy_advance_net.gif");
    background-repeat: no-repeat;
    height: 31px;

    color: transparent !important;
    user-select: none !important;

    padding: 0 !important;
    margin: 0.5rem !important;
}

body[data-tema="geo"] .console_list > a[href="console?id=md"], body[data-tema="geo"] .console_list > a[href="https://arquivomsf.github.io/console?id=md"] {
    background-image: url("../../assets/img/buttons/segagendevring.gif");
    background-repeat: no-repeat;
    height: 31px;

    color: transparent !important;
    user-select: none !important;

    padding: 0 !important;
    margin: 0.5rem !important;
}

body[data-tema="geo"] .console_list > a[href="console?id=dc"], body[data-tema="geo"] .console_list > a[href="https://arquivomsf.github.io/console?id=dc"] {
    background-image: url("../../assets/img/buttons/dreamcast.png");
    background-repeat: no-repeat;
    height: 31px;

    color: transparent !important;
    user-select: none !important;

    padding: 0 !important;
    margin: 0.5rem !important;
}

body[data-tema="geo"] .console_list > a[href="console?id=ps1"], body[data-tema="geo"] .console_list > a[href="https://arquivomsf.github.io/console?id=ps1"] {
    background-image: url("../../assets/img/buttons/playstation.gif");
    background-repeat: no-repeat;
    height: 31px;

    color: transparent !important;
    user-select: none !important;

    padding: 0 !important;
    margin: 0.5rem !important;
}

body[data-tema="geo"] .console_list > a[href="console?id=ps2"], body[data-tema="geo"] .console_list > a[href="https://arquivomsf.github.io/console?id=ps2"] {
    background-image: url("../../assets/img/buttons/ps2.png");
    background-repeat: no-repeat;
    height: 31px;

    color: transparent !important;
    user-select: none !important;

    padding: 0 !important;
    margin: 0.5rem !important;
}

/*deixar o estilo de grid list separado e marcado, caso tenha sido uma ideia ruim*/
body[data-tema="geo"] .console_list {
    display: grid !important;
    grid-template-columns: auto auto auto !important;
}

body[data-tema="geo"] .console_list > a {
    width: 88px !important;
}
