/*geo theme*/
body[data-tema="geo"] {
    font-family: Arial !important;

    background-image: url("../../assets/img/azulestrellas.gif");
    background-repeat: repeat;
    background-attachment: fixed;
}

body[data-tema="geo"] > .navbar > .offcanvas {
    background-image: url("../../assets/img/aquagalaxy_small.gif");
    background-repeat: repeat;
    background-attachment: fixed;
}

body[data-tema="geo"] > .navbar > .offcanvas > .offcanvas-body > ul:not(:nth-of-type(2)) {
    background-color: white;
    padding: 10px 5% 20px 5%;
    outline-color: silver;
    outline-style: ridge;

    /*margin-top: 20px;
    margin-bottom: 20px;*/
}

body[data-tema="geo"] > .navbar > .offcanvas > .offcanvas-body > ul:nth-of-type(2) {
    padding: 0 !important;
}

body[data-tema="geo"] > .navbar > .offcanvas > .offcanvas-body > ul:not(:nth-of-type(2)) > li > a {
    color: Navy !important;
    font-weight: bold !important;
}

body[data-tema="geo"] > .navbar > .offcanvas > .offcanvas-body > ul:not(:nth-of-type(2)) > li > a:hover {
    text-decoration: underline;
}

body[data-tema="geo"] > .navbar > .offcanvas > .offcanvas-body > ul > li > select {
    color: black !important;
    background-color: white !important;
    border: 1px solid silver !important;
    border-radius: 4px !important;
}

body[data-tema="geo"] > .navbar > .offcanvas > .offcanvas-body > ul > li + li {
    margin-top: 10px;
}

body[data-tema="geo"] > .navbar > .offcanvas > .offcanvas-body > ul > li:has(a[href="console?id=nes"]) {
    background-image: url("../../assets/img/buttons/nes.gif");
    background-repeat: no-repeat;
    height: 31px;
}

body[data-tema="geo"] > .navbar > .offcanvas > .offcanvas-body > ul > li > a[href="console?id=nes"] {
    opacity: 0;
    user-select: none;
}

body[data-tema="geo"] > .navbar > .offcanvas > .offcanvas-body > ul > li:has(a[href="console?id=n64"]) {
    background-image: url("../../assets/img/buttons/n64_com_now.gif");
    background-repeat: no-repeat;
    height: 31px;
}

body[data-tema="geo"] > .navbar > .offcanvas > .offcanvas-body > ul > li > a[href="console?id=n64"] {
    opacity: 0;
    user-select: none;
}

body[data-tema="geo"] > .navbar > .offcanvas > .offcanvas-body > ul > li:has(a[href="console?id=gba"]) {
    background-image: url("../../assets/img/buttons/gameboy_advance_net.gif");
    background-repeat: no-repeat;
    height: 31px;
}

body[data-tema="geo"] > .navbar > .offcanvas > .offcanvas-body > ul > li > a[href="console?id=gba"] {
    opacity: 0;
    user-select: none;
}

body[data-tema="geo"] > .navbar > .offcanvas > .offcanvas-body > ul > li:has(a[href="console?id=md"]) {
    background-image: url("../../assets/img/buttons/segagendevring.gif");
    background-repeat: no-repeat;
    height: 31px;
}

body[data-tema="geo"] > .navbar > .offcanvas > .offcanvas-body > ul > li > a[href="console?id=md"] {
    opacity: 0;
    user-select: none;
}

body[data-tema="geo"] > .navbar > .offcanvas > .offcanvas-body > ul > li:has(a[href="console?id=dc"]) {
    background-image: url("../../assets/img/buttons/dreamcast.png");
    background-repeat: no-repeat;
    height: 31px;
}

body[data-tema="geo"] > .navbar > .offcanvas > .offcanvas-body > ul > li > a[href="console?id=dc"] {
    opacity: 0;
    user-select: none;
}

body[data-tema="geo"] > .navbar > .offcanvas > .offcanvas-body > ul > li:has(a[href="console?id=ps1"]) {
    background-image: url("../../assets/img/buttons/playstation.gif");
    background-repeat: no-repeat;
    height: 31px;
}

body[data-tema="geo"] > .navbar > .offcanvas > .offcanvas-body > ul > li > a[href="console?id=ps1"] {
    opacity: 0;
    user-select: none;
}

body[data-tema="geo"] > .navbar > .offcanvas > .offcanvas-body > ul > li:has(a[href="console?id=ps2"]) {
    background-image: url("../../assets/img/buttons/ps2.png");
    background-repeat: no-repeat;
    height: 31px;
}


body[data-tema="geo"] > .navbar > .offcanvas > .offcanvas-body > ul > li > a[href="console?id=ps2"] {
    opacity: 0;
    user-select: none;
    /*position: relative;*/
}

/*
body[data-tema="geo"] > .navbar > .offcanvas > .offcanvas-body > ul > li > a[href="console?id=ps2"]::after {
    content: "2";
    color: white;
    position: absolute;
    left: 90px;
}
*/

body[data-tema="geo"] > .navbar > .offcanvas > .offcanvas-body > .temas-title::after {
    content: url("../../assets/img/buttons/best_viewed_with_open_eyes.gif");
    background-repeat: no-repeat;
    height: 31px;
    padding-left: 5px;
    display: inline-block;
    background-position-y: center;
}

body[data-tema="geo"] > .navbar > .offcanvas > .offcanvas-header > .close-offcanvas {
    background-image: url("../../assets/img/buttons/aniback1g.gif");
    background-repeat: no-repeat;
    width: 88px;
    height: 31px;
}

body[data-tema="geo"] > .navbar > .offcanvas > .offcanvas-header > .close-offcanvas > i::before {
    content: "";
}

body[data-tema="geo"] > .navbar > div > div > button:has(i.fa-close) {
    background-image: url("../../assets/img/buttons/aniback1g.gif");
    background-repeat: no-repeat;
    width: 88px;
    height: 31px;
}

body[data-tema="geo"] > .navbar > div > div > button > i.fa-close::before {
    content: "";
}

body[data-tema="geo"] > .navbar > center > div > span.page-name > div > div > a:has(i.fa-home) {
    background-image: url("../../assets/img/buttons/anihome112g.gif");
    background-repeat: no-repeat;
    width: 88px;
    display: block;
}

body[data-tema="geo"] > .navbar > center > div > span.page-name > div > div > a > i.fa-home::before {
    content: "";
}
/*
body[data-tema="geo"] > .pagecontent > p > a.btn-dark:has(i.fa-home) {
    background-image: url("../../assets/img/buttons/anihome112g.gif");
    background-repeat: no-repeat;
    width: 88px;
    height: 31px;
}
*/

body[data-tema="geo"] > .pagecontent > p > a.btn-dark {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.16, rgb(207, 207, 207)), color-stop(0.79, rgb(252, 252, 252)));
    background-image: -moz-linear-gradient(center bottom, rgb(207, 207, 207) 16%, rgb(252, 252, 252) 79%);
    background-image: linear-gradient(to top, rgb(207, 207, 207) 16%, rgb(252, 252, 252) 79%); 
    /*padding: 3px;*/
    border: 1px solid black;
    color: black;
    text-decoration: none;
}

body[data-tema="geo"] > .pagecontent > p > a.btn-dark i.fa-home::before {
    content: "";
}

body[data-tema="geo"] > .pagecontent > p > i.fa-arrow-up::before {
    content: "↑" !important;
}

body[data-tema="geo"] > .pagecontent > .card, body[data-tema="geo"] > .pagecontent > .card > ul, body[data-tema="geo"] > .pagecontent > .card > ul > li {
    border: 0 !important;
    border-radius: 0 !important;
    background-color: white !important;
    color: black !important;
}

body[data-tema="geo"] > .pagecontent > .card > ul > li {
    padding-left: 0 !important;
}

body[data-tema="geo"] > .pagecontent > .card > ul > li::before {
    content: "•";
    margin-right: 5px;
}

body[data-tema="geo"] > .navbar > center > div > button:has(i.fa-search) {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.16, rgb(207, 207, 207)), color-stop(0.79, rgb(252, 252, 252)));
    background-image: -moz-linear-gradient(center bottom, rgb(207, 207, 207) 16%, rgb(252, 252, 252) 79%);
    background-image: linear-gradient(to top, rgb(207, 207, 207) 16%, rgb(252, 252, 252) 79%); 
    /*padding: 3px;*/
    border: 1px solid black;
    color: black;
    text-decoration: none;
}

body[data-tema="geo"] > .navbar > center > div > button > i.fa-search::before {
    content: "Pesquisar";
}

body[data-tema="geo"] > .navbar > center > div > button:has(i.fa-bars) {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.16, rgb(207, 207, 207)), color-stop(0.79, rgb(252, 252, 252)));
    background-image: -moz-linear-gradient(center bottom, rgb(207, 207, 207) 16%, rgb(252, 252, 252) 79%);
    background-image: linear-gradient(to top, rgb(207, 207, 207) 16%, rgb(252, 252, 252) 79%); 
    /*padding: 3px;*/
    border: 1px solid black;
    color: black;
    text-decoration: none;
}

/*body[data-tema="geo"] > .navbar > center > div > button > i.fa-bars::before {
    content: "[bars]";
}*/

body[data-tema="geo"] > .tabs-navbar {
    /*background-color: #272727 !important;*/
    background-color: inherit !important;
    padding: 0 0 0 0 !important;
    height: 39px !important;
    min-height: 39px !important;

    border-bottom: 1px solid black;
}

body[data-tema="geo"] > .tabs-navbar > .tabs-stack {
    height: inherit !important;
    gap: 0.5rem !important;
}

body[data-tema="geo"] > .tabs-navbar > .tabs-stack > .tab-btn {
    height: inherit !important;
    padding: 0 !important;
    margin: 0 !important;
    flex: 0 0 auto !important;
    justify-self: left !important;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.16, rgb(207, 207, 207)), color-stop(0.79, rgb(252, 252, 252)));
    background-image: -moz-linear-gradient(center bottom, rgb(207, 207, 207) 16%, rgb(252, 252, 252) 79%);
    background-image: linear-gradient(to top, rgb(207, 207, 207) 16%, rgb(252, 252, 252) 79%); 
    padding: 3px;
    border: 1px solid black;
    color: black;
    text-decoration: none;
}

body[data-tema="geo"] > .tabs-navbar > .tabs-stack > .tab-btn > .tab-link {
    /*color: white !important;*/
    padding: 0.3rem !important;
    margin: 0 !important;
    border-bottom: none;
    width: max-content !important;
    border-top: 0.3rem solid transparent;
}

body[data-tema="geo"] > .navbar {
    background-color: Navy !important;
    color: gray !important;
}

body[data-tema="geo"] > .navbar > div > div > div > input {
    color: black !important;
    background-color: white !important;
    border: 1px solid silver !important;
    border-radius: 4px !important;
}

body[data-tema="geo"] > .navbar > center > div > span.page-name {
    color: white !important;
}

body[data-tema="geo"] > .navbar > center > div > span.page-name > .title-breadcrumb > .title-breadcrumb-item > a {
    color: white !important;
}

body[data-tema="geo"] > .navbar > center > div > span.page-name > .title-breadcrumb > .title-breadcrumb-item.active {
    font-weight: normal;
}

body[data-tema="geo"] > .navbar > center > div > span.page-name > .title-breadcrumb > .title-breadcrumb-item:not(.active):not(.title-breadcrumb-home) > a {
    color: Aqua !important;
}

body[data-tema="geo"] > .navbar > center > div > span.page-name > .title-breadcrumb > .title-breadcrumb-item:not(.active):not(.title-breadcrumb-home) > a:hover {
    text-decoration: underline;
}

body[data-tema="geo"] > .pagecontent:not(.videoplayer) {
    background-color: white;
    padding: 10px 5% 20px 5%;
    outline-color: silver;
    outline-style: ridge;

    margin-top: 20px;
    margin-bottom: 20px;
}

body[data-tema="geo"] > .pagecontent > div > div > a > span.title {
    color: Navy !important;
    font-weight: bold !important;
}

body[data-tema="geo"] > .pagecontent > div > div > a > span.title:hover {
    text-decoration: underline;
}

body[data-tema="geo"] > .pagecontent > div > div > a > span.subtitle {
    /*color: black !important;
    font-style: italic !important;
    font-size: 0.8rem !important;*/

    background-image: linear-gradient(to top, rgb(207, 207, 207) 16%, rgb(252, 252, 252) 79%);
    border: 1px solid black;
    color: black;
    text-decoration: none;
}

/*body[data-tema="geo"] > .pagecontent > div > div > a > span.subtitle:hover {
    text-decoration: underline;
}*/

body[data-tema="geo"] > .videoplayer {
    background-color: white;
    padding: 10px 10px 10px 10px;
    outline-color: silver;
    outline-style: ridge;

    margin-top: 20px;
    margin-bottom: 20px;
}

@media (min-width: 576px) {
    body[data-tema="geo"] > .videoplayer {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    body[data-tema="geo"] > .videoplayer {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    body[data-tema="geo"] > .videoplayer {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    body[data-tema="geo"] > .videoplayer {
        max-width: 1140px;
    }
}

@media (min-width: 1400px) {
    body[data-tema="geo"] > .videoplayer {
        max-width: 1320px;
    }
}