/*neob theme*/
:root {
  --neob-yellow: #ffeca8;
  --neob-blue: #b5d1fa;
  --neob-darkblue: #32b8e6;
  --neob-bluepurple: #445ba7;
  --neob-green: #b0f7b3;
  --neob-darkgreen: #3c9025;
  --neob-pink: #edb0f7;
  --neob-darkpink: #e3529f;
  --neob-orange: #ffb877;
  --neob-purple: #d7c3ff;
  --neob-red: #ed1d28;
}

body[data-tema="neob"] {
  background-color: var(--neob-yellow) !important;
  color: black;
  text-transform: uppercase;
}

body[data-tema="neob"] select {
  text-transform: uppercase;
}

body[data-tema="neob"] nav, body[data-tema="neob"] .tabs-navbar {
  background-color: var(--neob-darkblue) !important;
  border-bottom: 2px black solid;
  height: 60px;
}

body[data-tema="neob"] .navbar-divider {
  color: black !important;
}

body[data-tema="neob"] .navbar-home {
  background-color: var(--neob-orange) !important;
  color: black !important;
  border: 1px solid black !important;
  border-radius: 0;
  box-shadow: 5px 5px !important;
}

body[data-tema="neob"] .navbar-two, body[data-tema="neob"] .navbar-two-sigla {
  background-color: var(--neob-darkpink) !important;
  color: black !important;
  border: 1px solid black !important;
  border-radius: 0;
  box-shadow: 5px 5px !important;
}

body[data-tema="neob"] .navbar-three, body[data-tema="neob"] .navbar-three-mobile {
  background-color: var(--neob-darkgreen) !important;
  color: black !important;
  border: 1px solid black !important;
  border-radius: 0;
  box-shadow: 5px 5px !important;
}

body[data-tema="neob"] nav > div > div:nth-child(2) {
  column-gap: 0.5rem !important;
}

body[data-tema="neob"] nav > div > div:nth-child(2) > div:nth-child(2n+1) {
  background-color: var(--neob-yellow) !important;
  color: black !important;
  border: 1px solid black !important;
  border-radius: 0;
  box-shadow: 5px 5px !important;
}

body[data-tema="neob"] nav > div > div:nth-child(2) > div:nth-child(2n+2) {
  background-color: var(--neob-blue) !important;
  color: black !important;
  border: 1px solid black !important;
  border-radius: 0;
  box-shadow: 5px 5px !important;
}

body[data-tema="neob"] nav > div > button {
  background-color: var(--neob-pink) !important;
  color: black !important;
  border: 1px solid black !important;
  border-radius: 0;
  box-shadow: 5px 5px !important;
}

body[data-tema="neob"] input {
  background-color: var(--neob-purple) !important;
  color: black !important;
  border: 1px solid black !important;
  border-radius: 0;
  box-shadow: 5px 5px !important;
}

body[data-tema="neob"] nav:nth-child(2) > div {
  column-gap: 0.5rem !important;
}

body[data-tema="neob"] .tab-link {
  border-radius: 0;
  box-shadow: 5px 5px;
  color: black !important;
  border: 1px solid black;
}

body[data-tema="neob"] .tab-link:nth-child(3n+1) {
  background-color: var(--neob-yellow);
}

body[data-tema="neob"] .tab-link:nth-child(3n+2) {
  background-color: var(--neob-green);
}

body[data-tema="neob"] .tab-link:nth-child(3n+3) {
  background-color: var(--neob-pink);
}

body[data-tema="neob"] .tabcontent > div > div {
  border: 1px solid black !important;
  border-radius: 0;
  box-shadow: 5px 5px !important;
}

body[data-tema="neob"] .tabcontent > div > div:nth-child(9n+1) {
  background-color: var(--neob-blue);
}

body[data-tema="neob"] .tabcontent > div > div:nth-child(9n+2) {
  background-color: var(--neob-green);
}

body[data-tema="neob"] .tabcontent > div > div:nth-child(9n+3) {
  background-color: var(--neob-pink);
}

body[data-tema="neob"] .tabcontent > div > div:nth-child(9n+4) {
  background-color: var(--neob-orange);
}

body[data-tema="neob"] .tabcontent > div > div:nth-child(9n+5) {
  background-color: var(--neob-purple);
}

body[data-tema="neob"] .tabcontent > div > div:nth-child(9n+6) {
  background-color: var(--neob-red);
}

body[data-tema="neob"] .tabcontent > div > div:nth-child(9n+7) {
  background-color: var(--neob-darkgreen);
}

body[data-tema="neob"] .tabcontent > div > div:nth-child(9n+8) {
  background-color: var(--neob-darkblue);
}

body[data-tema="neob"] .tabcontent > div > div:nth-child(9n+9) {
  background-color: var(--neob-darkpink);
}

body[data-tema="neob"] .tabcontent > div > div > a:nth-child(1), body[data-tema="neob"] .tabcontent > .videos_content_list > div > div {
  border: none !important;
}

body[data-tema="neob"] .tabcontent > div > div > a:nth-child(2) {
  border: 1px solid black !important;
  border-radius: 0;
  box-shadow: 5px 5px !important;
  background-color: white;
  margin: 0.5rem 1.5rem 0.5rem 1.5rem;
}

body[data-tema="neob"] .tabcontent > .videos_content_list > div > div > p {
  border: 1px solid black !important;
  border-radius: 0;
  box-shadow: 5px 5px !important;
  background-color: white;
  /*margin: 0.5rem 1.5rem 0.5rem 1.5rem;*/
}

body[data-tema="neob"] #sidebar_main {
  background-color: var(--neob-green) !important;
  border-left: 2px solid black !important;
}

body[data-tema="neob"] #sidebar_main > div > button {
  background-color: var(--neob-red) !important;
  color: black !important;
  border: 1px solid black !important;
  border-radius: 0;
  box-shadow: 5px 5px !important;
}

body[data-tema="neob"] #sidebar_main > .console_list > a, body[data-tema="neob"] select, #sidebar_main > .maislinks_list > a {
  /*padding: 5px;*/
  border: 1px solid black;
  box-shadow: 10px 10px;
}

body[data-tema="neob"] #sidebar_main > .console_list > a+a, #sidebar_main > .maislinks_list > a+a {
  margin-top: 15px;
}

body[data-tema="neob"] #sidebar_main > .console_list > a:nth-child(5n+1), body[data-tema="neob"] select:nth-child(5n+1), #sidebar_main > .maislinks_list > a:nth-child(5n+1) {
  background-color: var(--neob-pink);
}

body[data-tema="neob"] #sidebar_main > .console_list > a:nth-child(5n+2), body[data-tema="neob"] select:nth-child(5n+2), #sidebar_main > .maislinks_list > a:nth-child(5n+2) {
  background-color: var(--neob-orange);
}

body[data-tema="neob"] #sidebar_main > .console_list > a:nth-child(5n+3), body[data-tema="neob"] select:nth-child(5n+3), #sidebar_main > .maislinks_list > a:nth-child(5n+3) {
  background-color: var(--neob-yellow);
}

body[data-tema="neob"] #sidebar_main > .console_list > a:nth-child(5n+4), body[data-tema="neob"] select:nth-child(5n+4), #sidebar_main > .maislinks_list > a:nth-child(5n+4) {
  background-color: var(--neob-purple);
}

body[data-tema="neob"] #sidebar_main > .console_list > a:nth-child(5n+5), body[data-tema="neob"] select:nth-child(5n+5), #sidebar_main > .maislinks_list > a:nth-child(5n+5) {
  background-color: var(--neob-blue);
}

body[data-tema="neob"] .btn-dark {
  border-radius: 0;
  box-shadow: 5px 5px;
  color: black !important;
  border: 1px solid black !important;
  margin: 7px;
}

body[data-tema="neob"] .btn-dark.btn-home {
  background-color: var(--neob-pink);
}

body[data-tema="neob"] .btn-dark.btn-like {
  background-color: var(--neob-green);
}

body[data-tema="neob"] li {
  background-color: var(--neob-purple) !important;
  color: black !important;
  border: 1px solid black !important;
  border-radius: 0;
  box-shadow: 5px 5px !important;
}

body[data-tema="neob"] li+li {
  margin-top: 15px;
}