/*old theme*/
body[data-tema="old"] {
  font-family: Arial !important;
}

body[data-tema="old"] nav {
  background-color: rgb(241, 241, 241) !important;
  color: rgb(51, 51, 51) !important;
}

body[data-tema="old"] .tabs-navbar {
  background-color: #272727 !important;
  padding: 0 10px !important;
  height: 39px !important;
  min-height: 39px !important;

  gap: 0 !important;
}

body[data-tema="old"] .tabs-navbar > div {
  height: inherit !important;
  /*padding: 0.25rem !important;*/
  flex: 0 0 auto !important;
  justify-self: left !important;

  color: white !important;
  padding: 0.3rem !important;
  margin: 0 !important;
  border-bottom: none;
  width: max-content !important;
  border-top: 0.3rem solid transparent;
}

body[data-tema="old"] .tabs-navbar > div.active {
  color: white !important;
  border-top-color: #dd4b39;
  font-weight: bold !important;
}

body[data-tema="old"] .tabs-navbar > div:hover {
  background-color: #4c4c4c !important;
}
