/*old theme*/
body[data-tema="old"] {
  font-family: Arial !important;
}

body[data-tema="old"] > .navbar {
  background-color: rgb(241, 241, 241) !important;
  color: rgb(51, 51, 51) !important;
}

body[data-tema="old"] > .navbar > .offcanvas {
  background-color: #272727;
}

body[data-tema="old"] > .navbar > center > div > span.page-name {
  color: rgb(51, 51, 51) !important;
}

body[data-tema="old"] > .navbar > center > div > span.page-name > .title-breadcrumb > .title-breadcrumb-item > a {
  color: rgb(51, 51, 51) !important;
}

body[data-tema="old"] > .navbar > center > div > span.page-name > .title-breadcrumb > .title-breadcrumb-item.active {
  font-weight: normal;
}

body[data-tema="old"] > .navbar > center > div > span.page-name > .title-breadcrumb > .title-breadcrumb-item:not(.active):not(.title-breadcrumb-home) > a {
  color: #438bc5 !important;
}

body[data-tema="old"] > .navbar > center > div > span.page-name > .title-breadcrumb > .title-breadcrumb-item:not(.active):not(.title-breadcrumb-home) > a:hover {
  text-decoration: underline;
}

body[data-tema="old"] > .navbar > .offcanvas > .offcanvas-body > .offcanvas-title {
  color: #fff !important;
  padding: 0.5rem 1rem !important;
}

body[data-tema="old"] > .navbar > .offcanvas > .offcanvas-body > ul > li {
  border-top: 1px solid #323232 !important;
  border-bottom: 1px solid #1b1b1b !important;
  border-left: 0 !important;
  color: #ededed !important;
}

body[data-tema="old"] > .navbar > .offcanvas > .offcanvas-body > ul > li:hover {
  border-top: 1px solid #323232 !important;
  border-bottom: 1px solid #1b1b1b !important;
  color: #ededed !important;
  border-left: 4px solid #666 !important;
  background: #1c1c1c !important;
}

body[data-tema="old"] > .navbar > .offcanvas > .offcanvas-body > ul > li > a, body[data-tema="old"] > .navbar > .offcanvas > .offcanvas-body > ul > li > select {
  padding: 0.5rem 1rem;
}

body[data-tema="old"] > .navbar > .offcanvas > .offcanvas-body > ul > li > .switch {
  margin: 0.5rem 1rem;
}

body[data-tema="old"] > .navbar > .offcanvas > .offcanvas-body > ul > li > select {
  margin: 0.5rem 1rem;
  width: 90% !important;
}

body[data-tema="old"] > .navbar > center > div > button {
  color: rgba(51, 51, 51, .6) !important;
  background-color: rgb(249, 249, 249) !important;
  border: 1px solid rgb(213, 213, 213) !important;
  background-image: linear-gradient(#fefefe, #e3e3e3) !important;
  border-radius: 4px !important;
}

body[data-tema="old"] > .navbar > center > div > button:hover {
  color: rgba(51, 51, 51, 1) !important;
  background-color: rgb(249, 249, 249) !important;
  border: 1px solid rgb(213, 213, 213) !important;
  border-color: #aaa #aaa #999 !important;
  background-image: linear-gradient(#f0f0f0 0,#e6e6e6 100%) !important;
  border-radius: 4px !important;
  box-shadow: 0 1px 2px rgba(0,0,0,0.25),inset 0 0 3px #fff !important;
}

body[data-tema="old"] > .navbar > div > div > button {
  color: rgba(51, 51, 51, .6) !important;
  background-color: rgb(249, 249, 249) !important;
  border: 1px solid rgb(213, 213, 213) !important;
  background-image: linear-gradient(#fefefe, #e3e3e3) !important;
  border-radius: 4px !important;
}

body[data-tema="old"] > .navbar > div > div > button:hover {
  color: rgba(51, 51, 51, 1) !important;
  background-color: rgb(249, 249, 249) !important;
  border: 1px solid rgb(213, 213, 213) !important;
  border-color: #aaa #aaa #999 !important;
  background-image: linear-gradient(#f0f0f0 0,#e6e6e6 100%) !important;
  border-radius: 4px !important;
  box-shadow: 0 1px 2px rgba(0,0,0,0.25),inset 0 0 3px #fff !important;
}

body[data-tema="old"] > .navbar > center > div > a.home-icon > button {
  color: rgba(51, 51, 51, .6) !important;
  background-color: rgb(249, 249, 249) !important;
  border: 1px solid rgb(213, 213, 213) !important;
  background-image: linear-gradient(#fefefe, #e3e3e3) !important;
  border-radius: 4px !important;
}

body[data-tema="old"] > .navbar > center > div > a.home-icon > button:hover {
  color: rgba(51, 51, 51, 1) !important;
  background-color: rgb(249, 249, 249) !important;
  border: 1px solid rgb(213, 213, 213) !important;
  border-color: #aaa #aaa #999 !important;
  background-image: linear-gradient(#f0f0f0 0,#e6e6e6 100%) !important;
  border-radius: 4px !important;
  box-shadow: 0 1px 2px rgba(0,0,0,0.25),inset 0 0 3px #fff !important;
}

body[data-tema="old"] > .navbar > .offcanvas > .offcanvas-header {
  background: #6a6a6a !important;
}

body[data-tema="old"] > .navbar > .offcanvas > .offcanvas-body {
  background-color: #272727 !important;
  padding: 0 0 0 0 !important;
}

body[data-tema="old"] > .navbar > .offcanvas > .offcanvas-body > ul {
  padding-right: 0 !important;
  margin-top: -25px !important;
}

body[data-tema="old"] > .navbar > .offcanvas > .offcanvas-header > button {
  background: 0 !important;
  color: #fff !important;
  border: 1px solid rgb(213, 213, 213) !important;
  border-color: #151515 #151515 #000 !important;
  text-shadow: 0 -1px 0 rgba(0,0,0,.5) !important;
  box-shadow: inset 0 1px 0 rgba(256,256,256,.1) !important;
  background-image: linear-gradient(#383838 0,#151515 100%) !important;
  border-radius: 4px !important;
  filter: none !important;
  opacity: 1 !important;
}

body[data-tema="old"] > .navbar > .offcanvas > .offcanvas-header > .close-offcanvas:hover {
  border-color: #111 #111 #000 !important;
  background-color: #333 !important;
  box-shadow: inset 0 1px 0 rgba(256,256,256,.1),0 1px 3px rgba(0,0,0,.5) !important;
  background-image: linear-gradient(to bottom,#383838 0,#252525 100%) !important;
}

body[data-tema="old"] > .navbar > div > div > div > input {
  color: rgb(51, 51, 51) !important;
  background-color: rgb(255, 255, 255) !important;
  border: 1px solid rgb(213, 213, 213) !important;
  border-radius: 4px !important;
}

body[data-tema="old"] > .navbar > center > div > button.pesquisar-btn {
  margin-right: 5px !important;
}

body[data-tema="old"] > .pagecontent {
  text-align: left !important;
  align-content: center !important;
  margin-bottom: 20px !important;
}

body[data-tema="old"] > .pagecontent > div.row {
  display: grid;
  row-gap: 0.5rem !important;
  column-gap: 1rem !important;
}

@media only screen and (max-width: 575px) {
  body[data-tema="old"] > .pagecontent > div.row {
    grid-template-columns: repeat(1, 1fr) !important;
  }
}

@media only screen and (min-width: 576px) {
  body[data-tema="old"] > .pagecontent > div.row {
    grid-template-columns: repeat(2, 1fr) !important;
  }
}

@media only screen and (min-width: 768px) {
  body[data-tema="old"] > .pagecontent > div.row {
    grid-template-columns: repeat(4, 1fr) !important;
  }
}

body[data-tema="old"] > .pagecontent > div > div.col {
  border: 1px solid rgb(213, 213, 213) !important;
  width: 100% !important;
  height: 100% !important;
  padding-top: 20px !important;
  padding-bottom: 20px !important;
}

body[data-tema="old"] > .pagecontent > div > div.col:hover {
  background: #f6f6f6 !important;
  border: 1px solid #ebebeb !important;
}

body[data-tema="old"] > .pagecontent > div > div.col:hover a > span.subtitle {
  color: #438bc5 !important;
}

body[data-tema="old"] > .pagecontent > div > div > a > span {
  margin-left: 1px !important;
  margin-right: 1px !important;
}

body[data-tema="old"] > .pagecontent > div > div > a > span.title {
  color: #438bc5 !important;
  font-weight: bold !important;
}

body[data-tema="old"] > .pagecontent > div > div > a > span.title:hover {
  text-decoration: underline;
}

body[data-tema="old"] > .pagecontent > div > div > a > div.thumbnail {
  margin-bottom: 15px !important;
}

body[data-tema="old"] > .pagecontent > div > div > a > span.subtitle {
  color: #222 !important;
  font-size: 0.8rem !important;

  background: none;
  box-shadow: none;
  border: 0;
  padding: 0;
}

body[data-tema="old"] > .pagecontent > div > div > a > span.subtitle:hover {
  text-decoration: underline;
}

body[data-tema="old"] > .pagecontent > p.flow-text > i.fa-arrow-up {
  margin-left: 35px;
}

body[data-tema="old"] > .pagecontent > p > a.btn-dark:not(.likebutton) {
  margin-left: 90px;
}

body[data-tema="old"] > .pagecontent > p > a.btn-dark {
  color: rgba(51, 51, 51, 1) !important;
  background-color: rgb(249, 249, 249) !important;
  border: 1px solid rgb(213, 213, 213) !important;
  background-image: linear-gradient(#fefefe, #e3e3e3) !important;
  border-radius: 4px !important;
}

body[data-tema="old"] > .pagecontent > p > a.btn-dark:hover {
  background-color: rgb(249, 249, 249) !important;
  border: 1px solid rgb(213, 213, 213) !important;
  border-color: #aaa #aaa #999 !important;
  background-image: linear-gradient(#f0f0f0 0,#e6e6e6 100%) !important;
  border-radius: 4px !important;
  box-shadow: 0 1px 2px rgba(0,0,0,0.25),inset 0 0 3px #fff !important;
}

body[data-tema="old"] > .pagecontent > p > a.btn-dark:not(:hover) i.fa-home {
  color: rgba(51, 51, 51, .6) !important;
}

body[data-tema="old"] > .pagecontent > .card, body[data-tema="old"] > .pagecontent > .card > ul, body[data-tema="old"] > .pagecontent > .card > ul > li {
  border: 0 !important;
  border-radius: 0 !important;
}

body[data-tema="old"] > .pagecontent > .card > ul > li {
  padding-left: 0 !important;
}

body[data-tema="old"] > .pagecontent > .card > ul > li::before {
  content: "\25CF";
  margin-right: 5px;
}

body[data-tema="old"] > .tabs-navbar {
  background-color: #272727 !important;
  padding: 0 0 0 0 !important;
  height: 39px !important;
  min-height: 39px !important;
}

body[data-tema="old"] > .tabs-navbar > .tabs-stack {
  height: inherit !important;
  gap: 0 !important;
}

body[data-tema="old"] > .tabs-navbar > .tabs-stack > .tab-btn {
  height: inherit !important;
  padding: 0 !important;
  margin: 0 !important;
  flex: 0 0 auto !important;
  justify-self: left !important;
}

body[data-tema="old"] > .tabs-navbar > .tabs-stack > .tab-btn > .tab-link {
  color: white !important;
  padding: 0.3rem !important;
  margin: 0 !important;
  border-bottom: none;
  width: max-content !important;
  border-top: 0.3rem solid transparent;
}

body[data-tema="old"] > .tabs-navbar > .tabs-stack > .tab-btn > .tab-link.active {
  color: white !important;
  border-top-color: #dd4b39;
  font-weight: bold !important;
}

body[data-tema="old"] > .tabs-navbar > .tabs-stack > .tab-btn > .tab-link:hover {
  background-color: #4c4c4c !important;
}