/*old theme*/
body[data-tema="old"] {
    font-family: Arial !important;
    background-color: white;
}

body[data-tema="old"] nav {
    background-color: rgb(241, 241, 241) !important;
    color: rgb(51, 51, 51);
}

body[data-tema="old"] .tabs-navbar {
    background-color: #272727 !important;
    padding: 0 10px !important;
    height: 39px !important;
    min-height: 39px !important;

    gap: 0 !important;
}

body[data-tema="old"] .tabs-navbar > div {
    height: inherit !important;
    flex: 0 0 auto !important;
    justify-self: left !important;

    color: white !important;
    padding: 0.3rem !important;
    margin: 0 !important;
    border-bottom: none;
    width: max-content !important;
    border-top: 0.3rem solid transparent;
}

body[data-tema="old"] .tabs-navbar > div.active {
    color: white !important;
    border-top-color: #dd4b39;
    font-weight: bold !important;
}

body[data-tema="old"] .tabs-navbar > div:hover {
    background-color: #4c4c4c !important;
}

body[data-tema="old"] .navbar-home {
    color: rgb(51, 51, 51) !important;
    background-color: transparent !important;
}

body[data-tema="old"] nav > div > div > div > a:not(.navbar-home), body[data-tema="old"] nav > div > div:has(a):not(:has(div > a)) > a {
    color: #438bc5 !important;
    font-weight: normal !important;
    background-color: transparent !important;
}

body[data-tema="old"] nav > div > div > div > a:not(.navbar-home):hover, body[data-tema="old"] nav > div > div:has(a):not(:has(div > a)) a:hover {
    text-decoration: underline;
}

body[data-tema="old"] .tabcontent {
    width: 95%;
}

body[data-tema="old"] .tabcontent > div {
    column-gap: 32px;
    row-gap: 15px;
}

body[data-tema="old"] .tabcontent > div > div {
    background-color: white;
    outline-color: rgb(213, 213, 213);

    border-radius: 0;
    box-shadow: none;
}

body[data-tema="old"] .tabcontent > div > div:hover {
    background-color: #f6f6f6;
    outline-color: #ebebeb;
}


body[data-tema="old"] .tabcontent > div > div > *:nth-child(1) {
    background-color: inherit;
    border-bottom: none !important;

    text-align: left !important;
}

body[data-tema="old"] .tabcontent > div > div > a:nth-child(1) {
    color: #438bc5 !important;
    font-weight: bold !important;
}

body[data-tema="old"] .tabcontent > div > div > a:nth-child(1):hover {
    text-decoration: underline;
}

body[data-tema="old"] .tabcontent > div > div > *:nth-child(2) {
    color: #222 !important;
    font-size: 0.8rem !important;

    background: none;
    box-shadow: none;
    border: none !important;
    padding: 0;

    align-items: start !important;
    gap: 0 !important;
    width: fit-content !important;
}

body[data-tema="old"] > center > .tabcontent > div > div:hover a:nth-child(2) > p {
    color: #438bc5 !important;
}

body[data-tema="old"] .tabcontent > div > div > *:nth-child(2) > p {
    width: max-content !important;

    border: none !important;

    padding-left: 0;
    padding-right: 0;

    margin-bottom: 20px;
}

body[data-tema="old"] .tabcontent > div > div > *:nth-child(2) > p:nth-child(1) {
    padding-left: 0.5rem;
}

body[data-tema="old"] .tabcontent > div > div > *:nth-child(2) > p:nth-child(2)::before {
    content: "\00a0("
}

body[data-tema="old"] .tabcontent > div > div > *:nth-child(2) > p:nth-child(2)::after {
    content: ")"
}

body[data-tema="old"] .tabcontent > div > div > * {
    flex: 0;
}

body[data-tema="old"] .tabcontent > div > div > a:nth-child(2):hover {
    color: #438bc5 !important;
    text-decoration: underline;
}

body[data-tema="old"] .tabcontent > div > div > * > b, body[data-tema="old"] .tabcontent > div > div > * > p {
    text-align: left !important;
    width: 100%;
}

body[data-tema="old"] .video-duracao {
    font-weight: normal;
}

body[data-tema="old"] input {
    color: rgb(51, 51, 51) !important;
    background-color: rgb(255, 255, 255) !important;
    border: 1px solid rgb(213, 213, 213) !important;
    border-radius: 4px !important;

    outline: revert;
}

body[data-tema="old"] nav > div > div > div:not(:has(a)):not(:has(.navbar-divider)), body[data-tema="old"] nav > div > button {
    color: rgba(51, 51, 51, 1) !important;
    background-color: rgb(249, 249, 249) !important;
    border: 1px solid rgb(213, 213, 213) !important;
    background-image: linear-gradient(#fefefe, #e3e3e3) !important;
    border-radius: 4px !important;
}

body[data-tema="old"] nav > div > div > div:not(:has(a)):not(:has(.navbar-divider)):hover, body[data-tema="old"] nav > div > button:hover {
    background-color: rgb(249, 249, 249) !important;
    border: 1px solid rgb(213, 213, 213) !important;
    border-color: #aaa #aaa #999 !important;
    background-image: linear-gradient(#f0f0f0 0,#e6e6e6 100%) !important;
    border-radius: 4px !important;
    box-shadow: 0 1px 2px rgba(0,0,0,0.25),inset 0 0 3px #fff !important;
}

body[data-tema="old"] .btn-dark {
    color: rgba(51, 51, 51, 1) !important;
    background-color: rgb(249, 249, 249) !important;
    border: 1px solid rgb(213, 213, 213) !important;
    background-image: linear-gradient(#fefefe, #e3e3e3) !important;
    border-radius: 4px !important;
}

body[data-tema="old"] .btn-dark:hover {
    background-color: rgb(249, 249, 249) !important;
    border: 1px solid rgb(213, 213, 213) !important;
    border-color: #aaa #aaa #999 !important;
    background-image: linear-gradient(#f0f0f0 0,#e6e6e6 100%) !important;
    border-radius: 4px !important;
    box-shadow: 0 1px 2px rgba(0,0,0,0.25),inset 0 0 3px #fff !important;
}

body[data-tema="old"] #sidebar_main {
    padding: 0;
    background-color: #272727 !important;
}

body[data-tema="old"] #sidebar_main > div:first-child {
    background: #6a6a6a !important;
}

body[data-tema="old"] #sidebar_main > div:first-child > button {
    background: 0 !important;
    color: #fff !important;
    border: 1px solid rgb(213, 213, 213) !important;
    border-color: #151515 #151515 #000 !important;
    text-shadow: 0 -1px 0 rgba(0,0,0,.5) !important;
    box-shadow: inset 0 1px 0 rgba(256,256,256,.1) !important;
    background-image: linear-gradient(#383838 0,#151515 100%) !important;
    border-radius: 4px !important;
    filter: none !important;
    opacity: 1 !important;
}

body[data-tema="old"] #sidebar_main > div:first-child > button:hover {
    border-color: #111 #111 #000 !important;
    background-color: #333 !important;
    box-shadow: inset 0 1px 0 rgba(256,256,256,.1),0 1px 3px rgba(0,0,0,.5) !important;
    background-image: linear-gradient(to bottom,#383838 0,#252525 100%) !important;
}

body[data-tema="old"] #sidebar_main > span {
    padding-left: 20px;
    color: white;
    font-weight: bold;
}

body[data-tema="old"] #sidebar_main > div:not(:first-child) {
    border-top: 1px solid #323232 !important;
    border-bottom: 1px solid #1b1b1b !important;
    /*border-left: 0 !important;*/
    color: #ededed !important;
}

body[data-tema="old"] #sidebar_main > div:not(:first-child) > a, body[data-tema="old"] #sidebar_main > div:not(:first-child):has(select) {
    transition: none !important;
}

body[data-tema="old"] #sidebar_main > div:not(:first-child) > a:not(:first-child) {
    border-top: 1px solid #323232 !important;
}

body[data-tema="old"] #sidebar_main > div:not(:first-child) > a:not(:last-child) {
    border-bottom: 1px solid #1b1b1b !important;
}

body[data-tema="old"] #sidebar_main > div:not(:first-child) > a {
    padding: 0.5rem 1rem;
}

body[data-tema="old"] #sidebar_main > div:not(:first-child) > a:hover, body[data-tema="old"] #sidebar_main > div:not(:first-child):has(select):hover {
    border-left: 4px solid #666 !important;
    background: #1c1c1c !important;
}

body[data-tema="old"] select {
    margin: 0.5rem 1rem;
    padding-block: 0.5rem;

    background-color: #3b3b3b;
    border: 1px solid white;
    outline: none !important;
    box-shadow: none;
    color: white;
}

body[data-tema="old"] .page-404 > div > div > div > p > i.fa-arrow-up {
    margin-left: 35px;
}

body[data-tema="old"] .page-404 > div > div > div > p > .btn-home {
    margin-left: 90px;
}

body[data-tema="old"] .page-404 > div > div > div {
    align-items: start !important;
}

body[data-tema="old"] .page-404 > div > div > div > ul {
    text-align: left !important;
}

body[data-tema="old"] .list-group, body[data-tema="old"] .list-group-item {
    border: none !important;
}

body[data-tema="old"] .list-group-item::before {
    content: "\25CF";
    margin-right: 5px;
}

body[data-tema="old"] .list-group-item {
    padding: 0;
}

body[data-tema="old"] .page-404 > div > div {
    background-color: transparent !important;
    outline: none !important;
    box-shadow: none !important;
    border: none !important;
}
