/*retro theme*/
body[data-tema="retro"] {
  font-family: 'InterUI-Regular' !important;
  background-color: #282828 !important;
  color: white !important;
}

@keyframes borderColor {
  0% {
    background-color: #268FC2;
  }
  100% {
    background-color: #82E4E6;
  }
}

body[data-tema="retro"] nav, body[data-tema="retro"] .tabs-navbar, body[data-tema="retro"] #sidebar_main {
  background-color: #282828 !important;
}

body[data-tema="retro"] .tab-link:not(.active):not(:focus):not(:hover) {
  border-color: #282828 !important;
  color: white !important;
}

body[data-tema="retro"] .tab-link:focus, body[data-tema="retro"] .tab-link:hover {
  border-color: white !important;
  color: white !important;
}

body[data-tema="retro"] .tab-link.active {
  border-color: #00D9AE !important;
  color: #00D9AE !important;
}

body[data-tema="retro"] .tabcontent > div > div {
  background-color: transparent !important;
  border-color: #282828;
  border-radius: 2px;
  box-shadow: none !important;
}

body[data-tema="retro"] .tabcontent > div > div > a {
  padding: 4px 4px 4px 4px !important;
}

body[data-tema="retro"] .tabcontent > div > div > a:hover, body[data-tema="retro"] .tabcontent > div > div > a:focus {
  padding: 4px 4px 4px 4px !important;
  background-color: #282828 !important;
  position: relative;
  transition: none !important;
  &::after {
    position: absolute;
    content: "";
    top: calc(-1 * 3px);
    left: calc(-1 * 3px);
    z-index: -1;
    width: calc(100% + 3px * 2);
    height: calc(100% + 3px * 2);
    background: #268FC2;
    border-radius: 2px;
    animation: borderColor 0.5s alternate infinite;
  }
}

body[data-tema="retro"] .tabcontent > div > div.divide-y-1 a:hover, body[data-tema="retro"] .tabcontent > div > div.divide-y-1 a:focus {
  border-color: transparent !important;
}

body[data-tema="retro"] nav > div > button:hover, body[data-tema="retro"] nav > div > button:focus, body[data-tema="retro"] nav > div > div > div > a:hover, body[data-tema="retro"] nav > div > div > div > a:focus, body[data-tema="retro"] nav > div > div > div:not(:has(a)):not(:has(.navbar-divider)):hover, body[data-tema="retro"] nav > div > div > div:not(:has(a)):not(:has(.navbar-divider)):focus, body[data-tema="retro"] #sidebar_main > div > button:hover, body[data-tema="retro"] #sidebar_main > div > button:focus, body[data-tema="retro"] #sidebar_main > div > a:hover, body[data-tema="retro"] #sidebar_main > div > a:focus, body[data-tema="retro"] .btn-dark:hover, body[data-tema="retro"] .btn-dark:focus, body[data-tema="retro"] select:hover, body[data-tema="retro"] select:focus {
  background-color: #282828 !important;
  position: relative;
  transition: none !important;
  color: #00D9AE !important;
  &::after {
    position: absolute;
    content: "";
    top: calc(-1 * 3px);
    left: calc(-1 * 3px);
    z-index: -1;
    width: calc(100% + 3px * 2);
    height: calc(100% + 3px * 2);
    background: #268FC2;
    border-radius: 2px;
    animation: borderColor 0.5s alternate infinite;
  }
}

body[data-tema="retro"] .list-group-item {
  border-color: white !important;
}

body[data-tema="retro"] select:not(:hover), body[data-tema="retro"] select:not(:focus) {
  border-left: transparent !important;
  border-right: transparent !important;
  border-top: 1px solid #51514F;
  border-bottom: 1px solid #51514F;
}

body[data-tema="retro"] .themes_list:hover, body[data-tema="retro"] .themes_list:focus {
  position: relative;
  &::after {
    position: absolute;
    content: "";
    top: calc(-1 * 3px);
    left: calc(-1 * 3px);
    z-index: -1;
    width: calc(100% + 3px * 2);
    height: calc(100% + 3px * 2);
    background: #268FC2;
    border-radius: 2px;
    animation: borderColor 0.5s alternate infinite;
  }
}

body[data-tema="retro"] input:focus {
  border-color: #00D9AE !important;
  background-color: transparent !important;
}