/*terminal theme*/
body[data-tema="terminal"] {
  font-family: 'AdwaitaMono-Regular' !important;
  background-color: black !important;
  color: white !important;
}

body[data-tema="terminal"] .bg-white {
  background-color: inherit !important;
}

body[data-tema="terminal"] .tab-link.active, body[data-tema="terminal"] .tab-link:focus, body[data-tema="terminal"] .tab-link:hover {
  border-color: white !important;
}

body[data-tema="terminal"] .tab-link:not(.active):not(:focus):not(:hover) {
  border-color: black !important;
}

body[data-tema="terminal"] nav {
  background-color: black !important;
}

body[data-tema="terminal"] .list-group, body[data-tema="terminal"] .list-group-item {
  border: none !important;
}

body[data-tema="terminal"] .list-group-item::before {
  content: ">";
  margin-right: 5px;
}

body[data-tema="terminal"] i:not(.fa) {
  font-style: normal;
  &::before {
    content: "[";
  }
  &::after {
    content: "]";
  }
}

body[data-tema="terminal"] .btn-dark {
  background-color: inherit !important;
  border: 1px solid white !important;
}
