@font-face {
  font-family: 'AdwaitaSans-Regular';
  src: url('../assets/fonts/adwaita-sans/AdwaitaSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'AdwaitaSans-Italic';
  src: url('../assets/fonts/adwaita-sans/AdwaitaSans-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'AdwaitaMono-Regular';
  src: url('../assets/fonts/adwaita-mono/AdwaitaMono-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'AdwaitaMono-Italic';
  src: url('../assets/fonts/adwaita-mono/AdwaitaMono-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'AdwaitaMono-Bold';
  src: url('../assets/fonts/adwaita-mono/AdwaitaMono-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'AdwaitaMono-BoldItalic';
  src: url('../assets/fonts/adwaita-mono/AdwaitaMono-BoldItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'MPlus-Regular';
  src: url('../assets/fonts/mplus/mplus-1p-regular.ttf') format('truetype');
}

@font-face {
  font-family: 'MPlus-Bold';
  src: url('../assets/fonts/mplus/mplus-1p-bold.ttf') format('truetype');
}

@font-face {
  font-family: 'InterUI-Regular';
  src: url('../assets/fonts/inter-ui/inter-ui-regular.ttf') format('truetype');
}

body {
  font-family: 'AdwaitaSans-Regular' !important;
}

select, option {
  font-family: var(--bs-body-font-family) !important;
}

html {
  scroll-padding-top: calc(4.40625rem + 20px);
}

body > .container:not(:has(.video-category)) {
  margin-top: 20px;
}

.navbar.fixed-top {
  position: -webkit-sticky;
  position: sticky;
}

.navbarbg {
  background-color: rgb(43, 48, 53);
}

.navbartext, .home-icon {
  color: white !important;
}

.col {
  margin: 1rem 0;
}

.title {
  color: black;
}

.subtitle {
  color: rgb(150, 148, 148);
}

a:link { 
  text-decoration: none; 
} 
a:visited { 
  text-decoration: none; 
} 
a:hover { 
  text-decoration: none; 
} 
a:active { 
  text-decoration: none; 
}

.header404{
  font-size: 48px;
}

.default-container {
  overflow: hidden;
  text-overflow: ellipsis;
}

.container-auto {
  max-width: 100%;
}

@media only screen and (max-width: 767px) {
  .videoplayer {
    width: 100vw;
  }
  #jsonIframe {
    width: 100%;
    margin-top: 10px;
    aspect-ratio: 16 / 9;
  }
}
@media only screen and (min-width: 768px) {
  .videoplayer {
    width: 80vw;
  }
  #jsonIframe {
    width: 100%;
    height: calc(100vh - 4rem - 20px);
    margin-top: 10px;
    aspect-ratio: 16 / 9;
  }
}

.thumbnail {
  position: relative;
}

.video-length {
  z-index: 2;
  position: absolute;
  bottom: 3%;
  right: 3%;
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
  padding-left: 3px;
  padding-right: 3px;
}

.playlist-length {
  z-index: 2;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 25%;
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
  padding-left: 3px;
  padding-right: 3px;
}

.playlist-info-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.fake-container {
  padding-left: calc(1.5rem * .5);
  padding-right: calc(1.5rem * .5);
  width: 100%;
}

.float-left {
  float: left !important;
}

.float-right {
  float: right !important;
}

.page-name {
  overflow: hidden;
  text-overflow: ellipsis;
  color: white;
  font-size: 1.25rem;
  display: block;
  padding-top: .25rem;
}

.page-name-home {
  padding-left: .25rem;
}

@media only screen and (min-width: 835px) {
  .page-name-one {
    max-width: 90%;
  }
  .page-name-two {
    max-width: 90%;
  }
}

@media only screen and (min-width: 650px) {
  .page-name-two {
    max-width: 77%;
  }
}

@media only screen and (min-width: 435px) {
  .page-name-two {
    max-width: 67%;
  }
}

@media only screen and (max-width: 434px) {
  .page-name-two {
    max-width: 57%;
  }
}

@media only screen and (min-width: 427px) {
  .page-name-one {
    max-width: 80%;
  }
}

@media only screen and (max-width: 426px) {
  .page-name-one {
    max-width: 70%;
  }
}

.navbar {
  min-height: 3.5rem;
  overflow: hidden;
}

.always-block {
  display: block !important;
}

#inputPesquisa:focus {
  background-color: #3b3b3b;
  border: 1px solid white;
  outline: none !important;
  box-shadow: none;
}

@keyframes abrir {
  from {
    width: 0px;
  }
  to {
    width: 100%;
  }
}

#inputPesquisaContainer {
  width: 0px;
  animation-name: abrir;
  animation-duration: 0.3s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

select {
  width: 100%;
  background-color: #3b3b3b;
  border: 1px solid white;
  outline: none !important;
  box-shadow: none;
  color: white;
  padding: 0.5rem 1rem;
}

.close-offcanvas {
  margin: calc(-.5 * 1rem) calc(-.5 * 1rem) calc(-.5 * 1rem) auto;
}

/*custom breadcrumb*/
.title-breadcrumb {
  /*margin-top: 0;
  padding: 0;*/
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.title-breadcrumb-item + .title-breadcrumb-item {
  padding-left: 0.5rem;
}

.title-breadcrumb-item + .title-breadcrumb-item::before {
  float: left;
  padding-right: 0.5rem;
  content: ">";
  font-weight: normal;
}

.title-breadcrumb-item > a {
  color: white;
}

.title-breadcrumb-item.active {
  font-weight: bold;
}

.video-category {
  font-size: 1.5rem;
  padding-top: 1.2rem;
  padding-bottom: 1rem;
}





/*old theme*/
body[data-tema="old"] {
  font-family: Arial !important;
}

body[data-tema="old"] > .navbar {
  background-color: rgb(241, 241, 241) !important;
  color: rgb(51, 51, 51) !important;
}

body[data-tema="old"] > .navbar > .offcanvas {
  background-color: #272727;
}

body[data-tema="old"] > .navbar > center > div > span.page-name {
  color: rgb(51, 51, 51) !important;
}

body[data-tema="old"] > .navbar > center > div > span.page-name > .title-breadcrumb > .title-breadcrumb-item > a {
  color: rgb(51, 51, 51) !important;
}

body[data-tema="old"] > .navbar > center > div > span.page-name > .title-breadcrumb > .title-breadcrumb-item.active {
  font-weight: normal;
}

body[data-tema="old"] > .navbar > center > div > span.page-name > .title-breadcrumb > .title-breadcrumb-item:not(.active):not(.title-breadcrumb-home) > a {
  color: #438bc5 !important;
}

body[data-tema="old"] > .navbar > center > div > span.page-name > .title-breadcrumb > .title-breadcrumb-item:not(.active):not(.title-breadcrumb-home) > a:hover {
  text-decoration: underline;
}

/*body[data-tema="old"] > .navbar > center > div > span.page-name > .title-breadcrumb > .title-breadcrumb-item.active > a {
  color: var(--dracula-red) !important;
}*/

body[data-tema="old"] > .navbar > .offcanvas > .offcanvas-body > .offcanvas-title {
  color: #fff !important;
  padding: 0.5rem 1rem !important;
}

body[data-tema="old"] > .navbar > .offcanvas > .offcanvas-body > ul > li {
  border-top: 1px solid #323232 !important;
  border-bottom: 1px solid #1b1b1b !important;
  border-left: 0 !important;
  color: #ededed !important;
}

body[data-tema="old"] > .navbar > .offcanvas > .offcanvas-body > ul > li:hover {
  border-top: 1px solid #323232 !important;
  border-bottom: 1px solid #1b1b1b !important;
  color: #ededed !important;
  border-left: 4px solid #666 !important;
  background: #1c1c1c !important;
}

body[data-tema="old"] > .navbar > .offcanvas > .offcanvas-body > ul > li > a, body[data-tema="old"] > .navbar > .offcanvas > .offcanvas-body > ul > li > select {
  padding: 0.5rem 1rem;
}

body[data-tema="old"] > .navbar > .offcanvas > .offcanvas-body > ul > li > .switch {
  margin: 0.5rem 1rem;
}

body[data-tema="old"] > .navbar > .offcanvas > .offcanvas-body > ul > li > select {
  margin: 0.5rem 1rem;
  width: 90% !important;
}

body[data-tema="old"] > .navbar > center > div > button {
  color: rgba(51, 51, 51, .6) !important;
  background-color: rgb(249, 249, 249) !important;
  border: 1px solid rgb(213, 213, 213) !important;
  background-image: linear-gradient(#fefefe, #e3e3e3) !important;
  border-radius: 4px !important;
}

body[data-tema="old"] > .navbar > center > div > button:hover {
  color: rgba(51, 51, 51, 1) !important;
  background-color: rgb(249, 249, 249) !important;
  border: 1px solid rgb(213, 213, 213) !important;
  border-color: #aaa #aaa #999 !important;
  background-image: linear-gradient(#f0f0f0 0,#e6e6e6 100%) !important;
  border-radius: 4px !important;
  box-shadow: 0 1px 2px rgba(0,0,0,0.25),inset 0 0 3px #fff !important;
}

body[data-tema="old"] > .navbar > div > div > button {
  color: rgba(51, 51, 51, .6) !important;
  background-color: rgb(249, 249, 249) !important;
  border: 1px solid rgb(213, 213, 213) !important;
  background-image: linear-gradient(#fefefe, #e3e3e3) !important;
  border-radius: 4px !important;
}

body[data-tema="old"] > .navbar > div > div > button:hover {
  color: rgba(51, 51, 51, 1) !important;
  background-color: rgb(249, 249, 249) !important;
  border: 1px solid rgb(213, 213, 213) !important;
  border-color: #aaa #aaa #999 !important;
  background-image: linear-gradient(#f0f0f0 0,#e6e6e6 100%) !important;
  border-radius: 4px !important;
  box-shadow: 0 1px 2px rgba(0,0,0,0.25),inset 0 0 3px #fff !important;
}

body[data-tema="old"] > .navbar > center > div > a.home-icon > button {
  color: rgba(51, 51, 51, .6) !important;
  background-color: rgb(249, 249, 249) !important;
  border: 1px solid rgb(213, 213, 213) !important;
  background-image: linear-gradient(#fefefe, #e3e3e3) !important;
  border-radius: 4px !important;
}

body[data-tema="old"] > .navbar > center > div > a.home-icon > button:hover {
  color: rgba(51, 51, 51, 1) !important;
  background-color: rgb(249, 249, 249) !important;
  border: 1px solid rgb(213, 213, 213) !important;
  border-color: #aaa #aaa #999 !important;
  background-image: linear-gradient(#f0f0f0 0,#e6e6e6 100%) !important;
  border-radius: 4px !important;
  box-shadow: 0 1px 2px rgba(0,0,0,0.25),inset 0 0 3px #fff !important;
}

body[data-tema="old"] > .navbar > .offcanvas > .offcanvas-header {
  background: #6a6a6a !important;
}

body[data-tema="old"] > .navbar > .offcanvas > .offcanvas-body {
  background-color: #272727 !important;
  padding: 0 0 0 0 !important;
}

body[data-tema="old"] > .navbar > .offcanvas > .offcanvas-body > ul {
  padding-right: 0 !important;
  margin-top: -25px !important;
}

body[data-tema="old"] > .navbar > .offcanvas > .offcanvas-header > button {
  background: 0 !important;
  color: #fff !important;
  border: 1px solid rgb(213, 213, 213) !important;
  border-color: #151515 #151515 #000 !important;
  text-shadow: 0 -1px 0 rgba(0,0,0,.5) !important;
  box-shadow: inset 0 1px 0 rgba(256,256,256,.1) !important;
  background-image: linear-gradient(#383838 0,#151515 100%) !important;
  border-radius: 4px !important;
  filter: none !important;
  opacity: 1 !important;
}

body[data-tema="old"] > .navbar > .offcanvas > .offcanvas-header > .close-offcanvas:hover {
  border-color: #111 #111 #000 !important;
  background-color: #333 !important;
  box-shadow: inset 0 1px 0 rgba(256,256,256,.1),0 1px 3px rgba(0,0,0,.5) !important;
  background-image: linear-gradient(to bottom,#383838 0,#252525 100%) !important;
}

body[data-tema="old"] > .navbar > div > div > div > input {
  color: rgb(51, 51, 51) !important;
  background-color: rgb(255, 255, 255) !important;
  border: 1px solid rgb(213, 213, 213) !important;
  border-radius: 4px !important;
}

body[data-tema="old"] > .navbar > center > div > button.pesquisar-btn {
  margin-right: 5px !important;
}

body[data-tema="old"] > .pagecontent {
  text-align: left !important;
  align-content: center !important;
  margin-bottom: 20px !important;
}

body[data-tema="old"] > .pagecontent > div.row {
  display: grid !important;
  row-gap: 0.5rem !important;
  column-gap: 1rem !important;
}

@media only screen and (max-width: 575px) {
  body[data-tema="old"] > .pagecontent > div.row {
    grid-template-columns: repeat(1, 1fr) !important;
  }
}

@media only screen and (min-width: 576px) {
  body[data-tema="old"] > .pagecontent > div.row {
    grid-template-columns: repeat(2, 1fr) !important;
  }
}

@media only screen and (min-width: 768px) {
  body[data-tema="old"] > .pagecontent > div.row {
    grid-template-columns: repeat(4, 1fr) !important;
  }
}

body[data-tema="old"] > .pagecontent > div > div.col {
  border: 1px solid rgb(213, 213, 213) !important;
  width: 100% !important;
  height: 100% !important;
  padding-top: 20px !important;
  padding-bottom: 20px !important;
}

body[data-tema="old"] > .pagecontent > div > div.col:hover {
  background: #f6f6f6 !important;
  border: 1px solid #ebebeb !important;
}

body[data-tema="old"] > .pagecontent > div > div.col:hover a > span.subtitle {
  color: #438bc5 !important;
}

body[data-tema="old"] > .pagecontent > div > div > a > span {
  margin-left: 1px !important;
  margin-right: 1px !important;
}

body[data-tema="old"] > .pagecontent > div > div > a > span.title {
  color: #438bc5 !important;
  font-weight: bold !important;
}

body[data-tema="old"] > .pagecontent > div > div > a > span.title:hover {
  text-decoration: underline;
}

body[data-tema="old"] > .pagecontent > div > div > a > div.thumbnail {
  margin-bottom: 15px !important;
}

body[data-tema="old"] > .pagecontent > div > div > a > span.subtitle {
  color: #222 !important;
  font-size: 0.8rem !important;
}

body[data-tema="old"] > .pagecontent > div > div > a > span.subtitle:hover {
  text-decoration: underline;
}

body[data-tema="old"] > .pagecontent > p.flow-text > i.fa-arrow-up {
  margin-left: 35px;
}

body[data-tema="old"] > .pagecontent > p > a.btn-dark:not(.likebutton) {
  margin-left: 90px;
}

body[data-tema="old"] > .pagecontent > p > a.btn-dark {
  color: rgba(51, 51, 51, 1) !important;
  background-color: rgb(249, 249, 249) !important;
  border: 1px solid rgb(213, 213, 213) !important;
  background-image: linear-gradient(#fefefe, #e3e3e3) !important;
  border-radius: 4px !important;
}

body[data-tema="old"] > .pagecontent > p > a.btn-dark:hover {
  background-color: rgb(249, 249, 249) !important;
  border: 1px solid rgb(213, 213, 213) !important;
  border-color: #aaa #aaa #999 !important;
  background-image: linear-gradient(#f0f0f0 0,#e6e6e6 100%) !important;
  border-radius: 4px !important;
  box-shadow: 0 1px 2px rgba(0,0,0,0.25),inset 0 0 3px #fff !important;
}

body[data-tema="old"] > .pagecontent > p > a.btn-dark:not(:hover) i.fa-home {
  color: rgba(51, 51, 51, .6) !important;
}

body[data-tema="old"] > .pagecontent > .card, body[data-tema="old"] > .pagecontent > .card > ul, body[data-tema="old"] > .pagecontent > .card > ul > li {
  border: 0 !important;
  border-radius: 0 !important;
}

body[data-tema="old"] > .pagecontent > .card > ul > li {
  padding-left: 0 !important;
}

body[data-tema="old"] > .pagecontent > .card > ul > li::before {
  content: "\25CF";
  margin-right: 5px;
}





/*dracula theme tananaaaan aquela musica do bach*/

:root {
  --dracula-bg: #282a36;
  --dracula-sel: #44475a;
  --dracula-fg: #f8f8f2;
  --dracula-comm: #6272a4;
  --dracula-cyan: #8be9fd;
  --dracula-green: #50fa7b;
  --dracula-orange: #ffb86c;
  --dracula-pink: #ff79c6;
  --dracula-purple: #bd93f9;
  --dracula-red: #ff5555;
  --dracula-yellow: #f1fa8c;
}

body[data-tema="dracula"] {
  background-color: var(--dracula-bg) !important;
}

body[data-tema="dracula"] > .navbar {
  background-color: var(--dracula-sel) !important;
  color: var(--dracula-fg) !important;
}

body[data-tema="dracula"] > .navbar > center > div > span.page-name {
  color: var(--dracula-fg) !important;
}

body[data-tema="dracula"] > .navbar > center > div > span.page-name > .title-breadcrumb > .title-breadcrumb-item > a {
  color: var(--dracula-fg) !important;
}

body[data-tema="dracula"] > .navbar > center > div > span.page-name > .title-breadcrumb > .title-breadcrumb-item.active {
  font-weight: normal;
}

body[data-tema="dracula"] > .navbar > center > div > span.page-name > .title-breadcrumb > .title-breadcrumb-item:not(.active):not(.title-breadcrumb-home) > a {
  color: var(--dracula-orange) !important;
}

body[data-tema="dracula"] > .navbar > center > div > span.page-name > .title-breadcrumb > .title-breadcrumb-item.active > a {
  color: var(--dracula-red) !important;
}

body[data-tema="dracula"] > .navbar > center > div > button {
  background-color: var(--dracula-sel) !important;
}

body[data-tema="dracula"] > .navbar > div > div > button:not(.btn-close) {
  background-color: var(--dracula-sel) !important;
}

body[data-tema="dracula"] > .navbar > center > div > a.home-icon > button {
  background-color: var(--dracula-sel) !important;
}

body[data-tema="dracula"] > .navbar > div > div > div > input {
  background-color: var(--dracula-bg) !important;
}

body[data-tema="dracula"] > .pagecontent > div > b, body[data-tema="dracula"] > .pagecontent > div > div > b {
  color: var(--dracula-yellow) !important;
}

body[data-tema="dracula"] > .pagecontent > div > div > a > span.title {
  color: var(--dracula-red) !important;
}

body[data-tema="dracula"] > .pagecontent > div > div > a > span.subtitle {
  color: var(--dracula-orange) !important;
  font-style: italic !important;
}

body[data-tema="dracula"] > .pagecontent > div > div > a > span.video-length, body[data-tema="dracula"] > .pagecontent > div > div > a > div > span.video-length, body[data-tema="dracula"] > .pagecontent > div > div > a > div > span.playlist-length {
  color: var(--dracula-fg) !important;
}

body[data-tema="dracula"] > .navbar > .offcanvas {
  background-color: var(--dracula-sel) !important;
}

body[data-tema="dracula"] > .navbar > .offcanvas > .offcanvas-body > .offcanvas-title {
  color: var(--dracula-red) !important;
}

body[data-tema="dracula"] > .navbar > .offcanvas > .offcanvas-body > ul > li > a {
  color: var(--dracula-orange) !important;
  font-style: italic !important;
}

body[data-tema="dracula"] > .navbar > .offcanvas > .offcanvas-body > ul > li > select {
  background-color: var(--dracula-sel) !important;
  border: 1px solid var(--dracula-fg) !important;
  color: var(--dracula-orange) !important;
}

body[data-tema="dracula"] > .pagecontent > div > div.col > p {
  color: var(--dracula-fg) !important;
}

body[data-tema="dracula"] > .pagecontent > p, body[data-tema="dracula"] > .pagecontent > h4 {
  color: var(--dracula-fg) !important;
}

body[data-tema="dracula"] > .pagecontent > p > a.btn-dark {
  background-color: var(--dracula-sel) !important;
  color: var(--dracula-fg) !important;
}

body[data-tema="dracula"] > .pagecontent > .card, body[data-tema="dracula"] > .pagecontent > .card > ul, body[data-tema="dracula"] > .pagecontent > .card > ul > li {
  border: 0 !important;
  border-radius: 0 !important;
  background-color: var(--dracula-bg) !important;
  color: var(--dracula-orange) !important;
  font-style: italic;
}

body[data-tema="dracula"] > .pagecontent > .card > ul > li {
  padding-left: 0 !important;
}

body[data-tema="dracula"] > .pagecontent > .card > ul > li::before {
  content: "•";
  margin-right: 5px;
}

body[data-tema="dracula"] > .pagecontent > p > i:not(.fa) {
  font-style: normal;
  color: var(--dracula-purple) !important;
}





/*terminal theme*/
body[data-tema="terminal"] {
  font-family: 'AdwaitaMono-Regular' !important;
  background-color: black !important;
  color: white !important;
}

body[data-tema="terminal"] > .pagecontent > div > div > a > span.title {
  color: white !important;
  font-weight: bold !important;
}

body[data-tema="terminal"] > .pagecontent > div > div > a > span.subtitle {
  color: white !important;
  font-size: 0.8rem !important;
}

body[data-tema="terminal"] > .navbar {
  background-color: black !important;
}

body[data-tema="terminal"] > .navbar > center > div > span.page-name {
  color: white !important;
  font-weight: bold !important;
}

body[data-tema="terminal"] > .navbar > center > div > span.page-name > .title-breadcrumb > .title-breadcrumb-item > a {
  color: white !important;
}

body[data-tema="terminal"] > .navbar > center > div > span.page-name > .title-breadcrumb > .title-breadcrumb-item.active {
  font-weight: bold !important;
}

body[data-tema="terminal"] > .navbar > center > div > span.page-name > .title-breadcrumb > .title-breadcrumb-item:not(.active):not(.title-breadcrumb-home) > a {
  font-weight: normal !important;
}

body[data-tema="terminal"] > .navbar > center > div > button {
  background-color: black !important;
}

body[data-tema="terminal"] > .navbar > div > div > button:not(.btn-close) {
  background-color: black !important;
}

body[data-tema="terminal"] > .navbar > center > div > a.home-icon > button {
  background-color: black !important;
}

body[data-tema="terminal"] > .pagecontent > p > a.btn-dark {
  background-color: black !important;
  color: white !important;
}

body[data-tema="terminal"] > .navbar > div > div > div > input {
  background-color: black !important;
}

body[data-tema="terminal"] > .navbar > .offcanvas {
  background-color: black !important;
}

body[data-tema="terminal"] > .navbar > .offcanvas > .offcanvas-body > ul > li > select {
  background-color: black !important;
}

body[data-tema="terminal"] > .pagecontent > .card, body[data-tema="terminal"] > .pagecontent > .card > ul, body[data-tema="terminal"] > .pagecontent > .card > ul > li {
  border: 0 !important;
  border-radius: 0 !important;
  background-color: black !important;
  color: white !important;
}

body[data-tema="terminal"] > .pagecontent > .card > ul > li {
  padding-left: 0 !important;
}

body[data-tema="terminal"] > .pagecontent > .card > ul > li::before {
  content: ">";
  margin-right: 5px;
}

body[data-tema="terminal"] > .pagecontent > p > i:not(.fa) {
  font-style: normal;
  &::before {
    content: "[";
  }
  &::after {
    content: "]";
  }
}





/*retro theme*/
body[data-tema="retro"] {
  font-family: 'InterUI-Regular' !important;
  background-color: #282828 !important;
  color: white !important;
}

body[data-tema="retro"] > .pagecontent > div > div > a > span.title {
  color: white !important;
}

body[data-tema="retro"] > .pagecontent > div > div > a > img.img-fluid, body[data-tema="retro"] > .pagecontent > div > div > a > div > img.img-fluid {
  border-bottom: 1px solid #51514F;
  padding-bottom: 10px;
}

body[data-tema="retro"] > .pagecontent > div > div > a > div > .playlist-length {
  height: calc(100% - 10px);
}

body[data-tema="retro"] > .pagecontent > div > div > a > div > .video-length {
  margin-bottom: 10px;
}

body[data-tema="retro"] > .pagecontent > div > div > a > span.subtitle {
  color: #99999B !important;
  font-size: 0.9rem !important;
}

body[data-tema="retro"] > .navbar {
  background-color: #282828 !important;
}

body[data-tema="retro"] > .navbar > center > div > span.page-name > .title-breadcrumb > .title-breadcrumb-item > a {
  font-family: 'MPlus-Bold' !important;
  color: white !important;
}

body[data-tema="retro"] > .navbar > center > div > span.page-name > .title-breadcrumb > .title-breadcrumb-item.active > a {
  color: #00D9AE !important;
}

body[data-tema="retro"] > .navbar > center > div > button {
  background-color: #282828 !important;
}

body[data-tema="retro"] > .navbar > div > div > button:not(.btn-close) {
  background-color: #282828 !important;
}

body[data-tema="retro"] > .navbar > center > div > a.home-icon > button {
  background-color: #282828 !important;
}

body[data-tema="retro"] > .pagecontent > p > a.btn-dark {
  background-color: #282828 !important;
  color: white !important;
}

body[data-tema="retro"] > .navbar > div > div > div > input {
  background-color: #2D2D2D !important;
}

body[data-tema="retro"] > .navbar > .offcanvas {
  background-color: #2D2D2D !important;
}

body[data-tema="retro"] > .navbar > .offcanvas > .offcanvas-body > ul > li > select {
  background-color: #2D2D2D !important;
  border: 0 !important;
  padding-left: 0 !important;
}

body[data-tema="retro"] > .navbar > .offcanvas > .offcanvas-body > .offcanvas-title {
  font-family: 'MPlus-Bold' !important;
  color: #00D9AE !important;
}

body[data-tema="retro"] > .navbar > center > div > button.pesquisar-btn {
  margin-right: 5px !important;
}

body[data-tema="retro"] > .pagecontent > .card, body[data-tema="retro"] > .pagecontent > .card > ul, body[data-tema="retro"] > .pagecontent > .card > ul > li {
  border: 0 !important;
  border-radius: 0 !important;
  background-color: #282828 !important;
  color: white !important;
}

body[data-tema="retro"] > .pagecontent > .card > ul {
  border-top: 1px solid #51514F !important;
}

body[data-tema="retro"] > .pagecontent > .card > ul > li {
  padding-left: 0 !important;
  border-bottom: 1px solid #51514F !important;
}

body[data-tema="retro"] > .pagecontent > div > .col:not(:hover) {
  padding: 4px 4px 4px 4px !important;
}

body[data-tema="retro"] > .pagecontent > div > .col:hover {
  padding: 4px 4px 4px 4px !important;
  position: relative;
  background-color: #282828 !important;
  border-radius: 2px;
  &::after {
    position: absolute;
    content: "";
    top: calc(-1 * 2px);
    left: calc(-1 * 2px);
    z-index: -1;
    width: 100%;
    height: calc(100% + 2px * 2);
    background: #268FC2;
    border-radius: 2px;
    animation: borderColor 0.5s alternate infinite;
  }
}

@media (min-width: 576px) {
  body[data-tema="retro"] > .pagecontent > div > .col:hover::after {
    width: calc(100% + 2px * 2);
  }
}

body[data-tema="retro"] > .navbar > .offcanvas > .offcanvas-body > ul > li:not(:hover) {
  padding: 4px 4px 4px 4px !important;
  border-top: 1px solid #51514F;
  border-bottom: 1px solid #51514F;
}

body[data-tema="retro"] > .navbar > .offcanvas > .offcanvas-body > ul > li:hover {
  padding: 5px 4px 5px 4px !important;
  position: relative;
  background-color: #282828 !important;
  border-radius: 2px;
  &::after {
    position: absolute;
    content: "";
    top: calc(-1 * 2px);
    left: calc(-1 * 2px);
    z-index: -1;
    width: calc(100% + 2px * 2);
    height: calc(100% + 2px * 2);
    background: #268FC2;
    border-radius: 2px;
    animation: borderColor 0.5s alternate infinite;
  }
}

body[data-tema="retro"] > .navbar > center > div > button:not(:hover), body[data-tema="retro"] > .navbar > center > div > a > button:not(:hover) {
  color: white !important;
}

body[data-tema="retro"] > .navbar > center > div > button:hover, body[data-tema="retro"] > .navbar > center > div > a > button:hover {
  color: #00D9AE !important;
  position: relative;
  background-color: #282828 !important;
  border-radius: 2px;
  &::after {
    position: absolute;
    content: "";
    top: calc(-1 * 2px);
    left: calc(-1 * 2px);
    z-index: -1;
    width: calc(100% + 2px * 2);
    height: calc(100% + 2px * 2);
    background: #268FC2;
    border-radius: 2px;
    animation: borderColor 0.5s alternate infinite;
  }
}

body[data-tema="retro"] > .navbar > div > div > button:not(:hover) {
  color: white !important;
}

body[data-tema="retro"] > .navbar > div > div > button:hover {
  color: #00D9AE !important;
  position: relative;
  background-color: #282828 !important;
  border-radius: 2px;
  &::after {
    position: absolute;
    content: "";
    top: calc(-1 * 2px);
    left: calc(-1 * 2px);
    z-index: -1;
    width: calc(100% + 2px * 2);
    height: calc(100% + 2px * 2);
    background: #268FC2;
    border-radius: 2px;
    animation: borderColor 0.5s alternate infinite;
  }
}

body[data-tema="retro"] > .pagecontent > p > a.btn-dark:not(:hover) {
  color: white !important;
}

body[data-tema="retro"] > .pagecontent > p > a.btn-dark:hover {
  color: #00D9AE !important;
  position: relative;
  background-color: #282828 !important;
  border-radius: 2px;
  &::after {
    position: absolute;
    content: "";
    top: calc(-1 * 2px);
    left: calc(-1 * 2px);
    z-index: -1;
    width: calc(100% + 2px * 2);
    height: calc(100% + 2px * 2);
    background: #268FC2;
    border-radius: 2px;
    animation: borderColor 0.5s alternate infinite;
  }
}

@keyframes borderColor {
  0% {
    background-color: #268FC2;
  }
  100% {
    background-color: #82E4E6;
  }
}





/*estante theme*/
body[data-tema="estante"] {
  color: white !important;
  --background-wood4: url("../assets/img/Wood004_1K-JPG_Color.jpg");
  --background-wood93: url("../assets/img/Wood093_1K-JPG_Color.jpg");
  background-image: var(--background-wood4);
}

body[data-tema="estante"] > .pagecontent > div > div > a > span.title {
  color: white !important;
  font-weight: bold !important;
}

body[data-tema="estante"] > .pagecontent > div > div > a > span.subtitle {
  color: white !important;
  font-size: 0.8rem !important;
}

body[data-tema="estante"] > .navbar {
  background-image: var(--background-wood93);
  border-bottom: 5px solid sienna;
}

body[data-tema="estante"] > .navbar > center > div > span.page-name {
  color: white !important;
  font-weight: bold !important;
}

body[data-tema="estante"] > .navbar > center > div > span.page-name > .title-breadcrumb > .title-breadcrumb-item > a {
  color: white !important;
}

body[data-tema="estante"] > .navbar > center > div > span.page-name > .title-breadcrumb > .title-breadcrumb-item.active {
  font-weight: bold !important;
}

body[data-tema="estante"] > .navbar > center > div > span.page-name > .title-breadcrumb > .title-breadcrumb-item:not(.active):not(.title-breadcrumb-home) > a {
  font-weight: normal !important;
}

body[data-tema="estante"] > .navbar > center > div > button {
  background-image: none;
  background-color: transparent;
  border-color: transparent;
}

body[data-tema="estante"] > .navbar > div > div > button:not(.btn-close) {
  background-image: none;
  background-color: transparent;
  border-color: transparent;
}

body[data-tema="estante"] > .navbar > center > div > a.home-icon > button {
  background-image: none;
  background-color: transparent;
  border-color: transparent;
}

body[data-tema="estante"] > .pagecontent > p > a.btn-dark {
  color: white;
  background-image: var(--background-wood93);
  border-color: sienna;
  border-radius: 0;
}

body[data-tema="estante"] > .pagecontent > p > a.btn-dark:hover {
  color: black;
}

body[data-tema="estante"] > .navbar > div > div > div > input {
  background-image: none;
  background-color: transparent;
  border-color: sienna;
}

body[data-tema="estante"] > .navbar > div > div > div > input:focus {
  background-image: none !important;
  background-color: transparent !important;
}

body[data-tema="estante"] > .navbar > .offcanvas {
  background-image: var(--background-wood4);
}

body[data-tema="estante"] > .navbar > .offcanvas > .offcanvas-body > ul > li > select {
  background-color: transparent !important;
}

body[data-tema="estante"] > .navbar > .offcanvas > .offcanvas-body > ul.navbar-nav {
  background-image: var(--background-wood93);
  border: 5px solid sienna;
  padding-right: 0 !important;
}

body[data-tema="estante"] > .navbar > .offcanvas > .offcanvas-body > ul.navbar-nav > .nav-item {
  padding: 0 1rem 0 1rem;
}

body[data-tema="estante"] > .navbar > .offcanvas > .offcanvas-body > ul.navbar-nav > .nav-item+.nav-item {
  border-top: 5px solid sienna;
}

body[data-tema="estante"] > .navbar > .offcanvas > .offcanvas-body > ul.navbar-nav > .nav-item > select {
  border: 0px solid transparent;
  padding-left: 0 !important;
}

body[data-tema="estante"] > .pagecontent > .card, body[data-tema="estante"] > .pagecontent > .card > ul, body[data-tema="estante"] > .pagecontent > .card > ul > li {
  border-color: sienna  !important;
  background-color: transparent !important;
  color: white !important;
}

body[data-tema="estante"] > .pagecontent > .card > ul > li {
  padding-left: 0 !important;
  border-width: 5px;
}

body[data-tema="estante"] > .pagecontent > .card > ul {
  background-image: var(--background-wood93);
}

body[data-tema="estante"] > .pagecontent > .card > ul > .list-group-item:first-child {
  border-top-width: 5px;
}

body[data-tema="estante"] > .pagecontent > .card > ul > .list-group-item+.list-group-item {
  border-top-width: 0;
}

body[data-tema="estante"] > .pagecontent > .row > .col {
  background-image: var(--background-wood93);
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 5px solid sienna;
  border-bottom: 5px solid sienna;
}

body[data-tema="estante"] > .pagecontent > .row > .col {
  border-left: 5px solid sienna;
  border-right: 5px solid sienna;
}

@media only screen and (min-width: 576px) {
  body[data-tema="estante"] > .pagecontent > .row > .col:nth-child(2n+1) {
    border-left: 5px solid sienna;
    border-right: none;
  }
  
  body[data-tema="estante"] > .pagecontent > .row > .col:nth-child(2n+2) {
    border-left: none;
    border-right: 5px solid sienna;
  }
}

@media only screen and (min-width: 768px) {
  body[data-tema="estante"] > .pagecontent > .row > .col:nth-child(4n+1) {
    border-left: 5px solid sienna;
    border-right: none;
  }

  body[data-tema="estante"] > .pagecontent > .row > .col:nth-child(4n+2) {
    border-left: none;
    border-right: none;
  }

  body[data-tema="estante"] > .pagecontent > .row > .col:nth-child(4n+3) {
    border-left: none;
    border-right: none;
  }
  
  body[data-tema="estante"] > .pagecontent > .row > .col:nth-child(4n+4) {
    border-left: none;
    border-right: 5px solid sienna;
  }
}

body[data-tema="estante"] > .pagecontent > .row > .col:last-child {
  border-right: 5px solid sienna;
}





/*netruim theme*/
body[data-tema="netruim"] {
  font-family: 'Times New Roman' !important;
  line-height: 1.5rem !important;
  /*background-color: black !important;
  color: white !important;*/
  transition: none !important;
}

body[data-tema="netruim"] > .pagecontent > div > div > a > img {
  /*opacity: 0 !important;
  height: 5px;*/
  image-rendering: pixelated;
}

body[data-tema="netruim"] > .pagecontent > div > div > a > div > img {
  /*opacity: 0 !important;
  height: 5px;*/
  image-rendering: pixelated;
}

body[data-tema="netruim"] > .pagecontent > div > div > a > div > .playlist-length {
  transform: translateX(-200%);
  background-color: white;
  color: black;
}

body[data-tema="netruim"] > .pagecontent > div > div > a > div > .video-length {
  transform: translateX(-200%);
  background-color: white;
  color: black;
}

body[data-tema="netruim"] > .pagecontent > div > div > a {
  background-color: revert !important;
  color: revert !important;
  border: revert;
  box-shadow: revert;
  text-decoration: underline;
}

body[data-tema="netruim"] > .pagecontent > div > div > a:visited {
  background-color: revert !important;
  color: revert !important;
  border: revert;
  box-shadow: revert;
  text-decoration: underline;
}

body[data-tema="netruim"] > .pagecontent > div > div > a > span.title {
  background-color: revert !important;
  color: revert !important;
  border: revert;
  box-shadow: revert;
  text-decoration: underline;
  font-weight: bold;
}

body[data-tema="netruim"] > .pagecontent > div > div > a > span.subtitle {
  background-color: revert !important;
  color: revert !important;
  border: revert;
  box-shadow: revert;
  text-decoration: underline;
  font-size: 1rem !important;
}

body[data-tema="netruim"] > .navbar {
  background-color: white !important;
}

body[data-tema="netruim"] > .navbar > center > div > span.page-name {
  color: black !important;
  font-weight: bold !important;
}

body[data-tema="netruim"] > .navbar > center > div > span.page-name > .title-breadcrumb > .title-breadcrumb-item > a {
  background-color: revert !important;
  color: revert !important;
  border: revert;
  box-shadow: revert;
  text-decoration: revert;
}

body[data-tema="netruim"] > .navbar > center > div > span.page-name > .title-breadcrumb > .title-breadcrumb-item > a:visited {
  background-color: revert !important;
  color: revert !important;
  border: revert;
  box-shadow: revert;
  text-decoration: revert;
}

body[data-tema="netruim"] > .navbar > center > div > span.page-name > .title-breadcrumb > .title-breadcrumb-item.active {
  font-weight: bold !important;
}

body[data-tema="netruim"] > .navbar > center > div > span.page-name > .title-breadcrumb > .title-breadcrumb-item:not(.active):not(.title-breadcrumb-home) > a {
  font-weight: normal !important;
}

/*body[data-tema="netruim"] > .navbar > center > div > button, body[data-tema="netruim"] > .navbar > div > div > button {
  background-color: white !important;
  color: black !important;
  border: none;
}*/

body[data-tema="netruim"] > .navbar > center > div > button, body[data-tema="netruim"] > .navbar > div > div > button {
  background-color: revert !important;
  color: revert !important;
  border: revert;
  border-radius: revert;
  box-shadow: revert;
  text-decoration: revert;
  padding: revert;
  transition: none !important;
}

body[data-tema="netruim"] > .navbar > center > div > button:hover, body[data-tema="netruim"] > .navbar > div > div > button:hover {
  background-color: revert !important;
  color: revert !important;
  border: revert;
  border-radius: revert;
  box-shadow: revert;
  text-decoration: revert;
  padding: revert;
  transition: none !important;
}

body[data-tema="netruim"] > .navbar > center > div > button > i.fa-search::before {
  content: "[search]";
}

body[data-tema="netruim"] > .navbar > center > div > button > i.fa-bars::before {
  content: "[bars]";
}

body[data-tema="netruim"] > .navbar > center > div > span.page-name > .title-breadcrumb > .title-breadcrumb-item > a > i.fa-home::before, body[data-tema="netruim"] > .pagecontent > p > a > i.fa-home::before {
  content: "[home]";
  text-decoration: underline;
}

body[data-tema="netruim"] > .pagecontent > div > div > a > div > .video-length > i.fa-file-video-o::before {
  content: "[gd]";
}

body[data-tema="netruim"] > .pagecontent > div > div > a > div > .video-length > i.fa-youtube-play::before {
  content: "[yt]";
}

body[data-tema="netruim"] > .pagecontent > div > div > a > div > .playlist-length > div > i.fa-list::before {
  content: "[list]";
}

body[data-tema="netruim"] > .navbar > .offcanvas > .offcanvas-header > .close-offcanvas > i.fa-close::before, body[data-tema="netruim"] > .navbar > div > div > button > i.fa-close::before {
  content: "[close]";
}

body[data-tema="netruim"] > .pagecontent > p > i.fa-arrow-up::before {
  content: "[arrow-up]";
}

body[data-tema="netruim"] > .pagecontent > p > i.fa-arrow-down::before {
  content: "[arrow-down]";
}

body[data-tema="netruim"] > .navbar > div > div > button:not(.btn-close) {
  background-color: revert !important;
  color: revert !important;
  border: revert;
  border-radius: revert;
  box-shadow: revert;
  text-decoration: revert;
  padding: revert;
  transition: none !important;
}

body[data-tema="netruim"] > .navbar > div > div > button:not(.btn-close):hover {
  background-color: revert !important;
  color: revert !important;
  border: revert;
  border-radius: revert;
  box-shadow: revert;
  text-decoration: revert;
  padding: revert;
  transition: none !important;
}

body[data-tema="netruim"] > .navbar > center > div > a.home-icon > button {
  background-color: white !important;
}

body[data-tema="netruim"] > .pagecontent > p > a.btn-dark {
  background-color: revert !important;
  color: revert !important;
  border: revert;
  box-shadow: revert;
  text-decoration: revert;
}

body[data-tema="netruim"] > .pagecontent > p > a.btn-dark:visited {
  background-color: revert !important;
  color: revert !important;
  border: revert;
  box-shadow: revert;
  text-decoration: revert;
}

/*body[data-tema="netruim"] > .navbar > .offcanvas > .offcanvas-header > .close-offcanvas {
  border: none;
  color: black !important;
}*/

body[data-tema="netruim"] > .navbar > .offcanvas > .offcanvas-header > .close-offcanvas {
  background-color: revert !important;
  color: revert !important;
  border: revert;
  border-radius: revert;
  box-shadow: revert;
  text-decoration: revert;
  padding: revert;
  transition: none !important;
}

body[data-tema="netruim"] > .navbar > .offcanvas > .offcanvas-header > .close-offcanvas:hover {
  background-color: revert !important;
  color: revert !important;
  border: revert;
  border-radius: revert;
  box-shadow: revert;
  text-decoration: revert;
  padding: revert;
  transition: none !important;
}

body[data-tema="netruim"] > .navbar > div > div > div > input {
  background-color: white !important;
  color: black !important;
}

body[data-tema="netruim"] > .navbar > .offcanvas {
  background-color: white !important;
  color: black !important;
}

body[data-tema="netruim"] > .navbar > .offcanvas > .offcanvas-body > ul > li > a {
  background-color: white !important;
  color: revert !important;
  font-size: 1rem !important;
  text-decoration: underline;
}

body[data-tema="netruim"] > .navbar > .offcanvas > .offcanvas-body > ul > li > a:visited {
  background-color: white !important;
  color: revert !important;
  font-size: 1rem !important;
  text-decoration: underline;
}

body[data-tema="netruim"] > .navbar > .offcanvas > .offcanvas-body > ul > li > select {
  background-color: revert !important;
  color: black !important;
  border: revert;
  box-shadow: revert;
}

body[data-tema="netruim"] > .pagecontent {
  background-color: white;
}

body[data-tema="netruim"] > .pagecontent > .card, body[data-tema="netruim"] > .pagecontent > .card > ul, body[data-tema="netruim"] > .pagecontent > .card > ul > li {
  border: 0 !important;
  border-radius: 0 !important;
  background-color: white !important;
  color: black !important;
}

body[data-tema="netruim"] > .pagecontent > .card > ul > li {
  padding-left: 0 !important;
}

body[data-tema="netruim"] > .pagecontent > .card > ul > li::before {
  content: ">";
  margin-right: 5px;
}

body[data-tema="netruim"] > .pagecontent > p > i:not(.fa) {
  font-style: normal;
  &::before {
    content: "[";
  }
  &::after {
    content: "]";
  }
}

/*body[data-tema="netruim"] > .navbar > div > div > #inputPesquisaContainer {
  all: initial;
}*/

body[data-tema="netruim"] > .navbar > div > div > div > #inputPesquisa {
  all: revert;
}

body[data-tema="netruim"] > .navbar > div > div > div > #inputPesquisa:focus {
  all: revert;
  outline: revert !important;
  color: revert !important;
  background-color: revert !important;
}

body[data-tema="netruim"] > .navbar > div > div > div > input {
  all: revert;
}

body[data-tema="netruim"] > .navbar > div > div > div > input:focus {
  all: revert;
  outline: revert !important;
  color: revert !important;
  background-color: revert !important;
}

body[data-tema="netruim"] > .navbar > div > div > div > input {
  width: 100% !important;
  line-height: 1.5rem !important;
  box-sizing: border-box !important;
}





/*neob theme*/
:root {
  --neob-yellow: #ffeca8;
  --neob-blue: #b5d1fa;
  --neob-darkblue: #32b8e6;
  --neob-bluepurple: #445ba7;
  --neob-green: #b0f7b3;
  --neob-darkgreen: #3c9025;
  --neob-pink: #edb0f7;
  --neob-darkpink: #e3529f;
  --neob-orange: #ffb877;
  --neob-purple: #d7c3ff;
  --neob-red: #ed1d28;
}

body[data-tema="neob"] {
  background-color: var(--neob-yellow) !important;
  color: black;
  text-transform: uppercase;
}

body[data-tema="neob"] > .navbar {
  /*background-color: inherit !important;*/
  background-color: var(--neob-darkblue) !important;
  border-bottom: 2px black solid;
}

body[data-tema="neob"] > .navbar > center > div > span.page-name > .title-breadcrumb > .title-breadcrumb-item > a {
  color: black !important;
}

body[data-tema="neob"] > .navbar > center > div > span.page-name > .title-breadcrumb > .title-breadcrumb-item::before {
  color: black !important;
}

body[data-tema="neob"] > .navbar > center > div > button, body[data-tema="neob"] > .navbar > div > div > button {
  color: black !important;
}

body[data-tema="neob"] > .navbar > div > div > div > input, body[data-tema="neob"] > .navbar > div > div > div > input:focus {
  color: black !important;
  background-color: var(--neob-purple) !important;
  border: 1px solid black !important;
  border-radius: 0;
  box-shadow: 5px 5px !important;
}

body[data-tema="neob"] > .navbar > center > div > button.pesquisar-btn, body[data-tema="neob"] > .navbar > div > div > button.pesquisar-btn {
  background-color: var(--neob-pink);
  border-radius: 0;
  box-shadow: 5px 5px;
}

body[data-tema="neob"] > .navbar > center > div > button.pesquisar-btn {
  margin-right: 8px;
}

body[data-tema="neob"] > .navbar > center > div > button:nth-child(2) {
  background-color: var(--neob-blue);
  border-radius: 0;
  box-shadow: 5px 5px;
}

body[data-tema="neob"] > .navbar > center > div > button.pesquisar-btn, body[data-tema="neob"] > .navbar > div > div > button.close-offcanvas {
  background-color: var(--neob-yellow);
  border-radius: 0;
  box-shadow: 5px 5px;
}

body[data-tema="neob"] > .pagecontent > .row {
  column-gap: 3%;
  margin-left: 0;
}

body[data-tema="neob"] > .pagecontent > .video-category, body[data-tema="neob"] > .pagecontent > div > .video-category {
  padding-bottom: 1.5rem;
}

body[data-tema="neob"] > .pagecontent > div > b, body[data-tema="neob"] > .pagecontent > div > div > b {
  background-color: white;
  padding: 10px;
  border: 1px solid black;
  width: 97%;
  box-shadow: 10px 10px;
}

body[data-tema="neob"] > .pagecontent > .row > .game-item {
  padding-bottom: 20px !important;
}

body[data-tema="neob"] > .pagecontent > .row > .game-item > br{
  margin-bottom: 4px;
}

body[data-tema="neob"] > .pagecontent > .row > .col > a > .title {
  font-weight: bold;
}

body[data-tema="neob"] > .pagecontent > .row > .col > a > .subtitle {
  color: black;
  font-size: 0.8rem;
  background-color: white;
  padding: 10px;
  border: 1px solid black;
  width: 97%;
  box-shadow: 5px 5px black;
}

body[data-tema="neob"] > .pagecontent > .row > .col > a > img, body[data-tema="neob"] > .pagecontent > .row > .col > a > div > img {
  border: 2px solid black;
}

body[data-tema="neob"] > .pagecontent > .row > .col {
  padding: 10px;
  border: 1px solid black;
  box-shadow: 10px 10px;
  width: 97%;
}

body[data-tema="neob"] > .pagecontent > .row > .col:nth-child(9n+1) {
  background-color: var(--neob-blue);
}

body[data-tema="neob"] > .pagecontent > .row > .col:nth-child(9n+2) {
  background-color: var(--neob-green);
}

body[data-tema="neob"] > .pagecontent > .row > .col:nth-child(9n+3) {
  background-color: var(--neob-pink);
}

body[data-tema="neob"] > .pagecontent > .row > .col:nth-child(9n+4) {
  background-color: var(--neob-orange);
}

body[data-tema="neob"] > .pagecontent > .row > .col:nth-child(9n+5) {
  background-color: var(--neob-purple);
}

body[data-tema="neob"] > .pagecontent > .row > .col:nth-child(9n+6) {
  background-color: var(--neob-red);
}

body[data-tema="neob"] > .pagecontent > .row > .col:nth-child(9n+7) {
  background-color: var(--neob-darkgreen);
}

body[data-tema="neob"] > .pagecontent > .row > .col:nth-child(9n+8) {
  background-color: var(--neob-darkblue);
}

body[data-tema="neob"] > .pagecontent > .row > .col:nth-child(9n+9) {
  background-color: var(--neob-darkpink);
}

@media only screen and (min-width: 576px) {
  body[data-tema="neob"] > .pagecontent > .row {
    margin-left: calc(-.5 * var(--bs-gutter-x));
  }

  body[data-tema="neob"] > .pagecontent > .row > .col {
    width: 48%;
  }
}

@media only screen and (min-width: 768px) {
  body[data-tema="neob"] > .pagecontent > .row > .col {
    width: 22%;
  }
}

body[data-tema="neob"] > .navbar > .offcanvas > .offcanvas-header, body[data-tema="neob"] > .navbar > .offcanvas > .offcanvas-body {
  background-color: var(--neob-green);
  color: black;
}

body[data-tema="neob"] > .navbar > .offcanvas > .offcanvas-body > ul > li > a {
  color: black;
}

body[data-tema="neob"] > .navbar > .offcanvas > .offcanvas-body > ul > li {
  padding: 5px;
  border: 1px solid black;
  box-shadow: 10px 10px;
}

body[data-tema="neob"] > .navbar > .offcanvas > .offcanvas-body > ul > li+li {
  margin-top: 15px;
}

body[data-tema="neob"] > .navbar > .offcanvas > .offcanvas-body > ul > li:nth-child(5n+1) {
  background-color: var(--neob-pink);
}

body[data-tema="neob"] > .navbar > .offcanvas > .offcanvas-body > ul > li:nth-child(5n+2) {
  background-color: var(--neob-orange);
}

body[data-tema="neob"] > .navbar > .offcanvas > .offcanvas-body > ul > li:nth-child(5n+3) {
  background-color: var(--neob-yellow);
}

body[data-tema="neob"] > .navbar > .offcanvas > .offcanvas-body > ul > li:nth-child(5n+4) {
  background-color: var(--neob-purple);
}

body[data-tema="neob"] > .navbar > .offcanvas > .offcanvas-body > ul > li:nth-child(5n+5) {
  background-color: var(--neob-blue);
}

body[data-tema="neob"] > .navbar > .offcanvas > .offcanvas-body > ul > li > select {
  background-color: inherit;
  color: black;
  border: none;
  box-shadow: none;
}

body[data-tema="neob"] > .pagecontent > p > a:not(.likebutton) {
  background-color: var(--neob-green);
  border-radius: 0;
  box-shadow: 5px 5px;
  color: black !important;
}

body[data-tema="neob"] > .pagecontent > p > a.likebutton {
  background-color: var(--neob-blue);
  border-radius: 0;
  box-shadow: 5px 5px;
  color: black !important;
}

body[data-tema="neob"] > .pagecontent > .card > ul > li {
  border-color: black !important;
  background-color: var(--neob-purple) !important;
}

body[data-tema="neob"] > .pagecontent > .header404 {
  font-weight: bolder !important;
}