@font-face {
  font-family: 'AdwaitaSans-Regular';
  src: url('../assets/fonts/adwaita-sans/AdwaitaSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'AdwaitaSans-Italic';
  src: url('../assets/fonts/adwaita-sans/AdwaitaSans-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'AdwaitaMono-Regular';
  src: url('../assets/fonts/adwaita-mono/AdwaitaMono-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'AdwaitaMono-Italic';
  src: url('../assets/fonts/adwaita-mono/AdwaitaMono-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'AdwaitaMono-Bold';
  src: url('../assets/fonts/adwaita-mono/AdwaitaMono-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'AdwaitaMono-BoldItalic';
  src: url('../assets/fonts/adwaita-mono/AdwaitaMono-BoldItalic.ttf') format('truetype');
}

body {
  font-family: 'AdwaitaSans-Regular' !important;
}

select, option {
  font-family: var(--bs-body-font-family) !important;
}

html {
  scroll-padding-top: calc(4.40625rem + 20px);
}

body > .container {
  margin-top: 20px;
}

.navbar.fixed-top {
  position: -webkit-sticky;
  position: sticky;
}

.navbarbg {
  background-color: rgb(43, 48, 53);
}

.navbartext, .home-icon {
  color: white !important;
}

.col {
  margin: 1rem 0;
}

.title {
  color: black;
}

.subtitle {
  color: rgb(150, 148, 148);
}

a:link { 
  text-decoration: none; 
} 
a:visited { 
  text-decoration: none; 
} 
a:hover { 
  text-decoration: none; 
} 
a:active { 
  text-decoration: none; 
}

.header404{
  font-size: 48px;
}

.default-container {
  overflow: hidden;
  text-overflow: ellipsis;
}

.container-auto {
  max-width: 100%;
}

@media only screen and (max-width: 767px) {
  .videoplayer {
    width: 100vw;
  }
  #jsonIframe {
    width: 100%;
    margin-top: 10px;
    aspect-ratio: 16 / 9;
  }
}
@media only screen and (min-width: 768px) {
  .videoplayer {
    width: 80vw;
  }
  #jsonIframe {
    width: 100%;
    height: calc(100vh - 4rem - 20px);
    margin-top: 10px;
    aspect-ratio: 16 / 9;
  }
}

.thumbnail {
  position: relative;
}

.video-length {
  z-index: 2;
  position: absolute;
  bottom: 3%;
  right: 3%;
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
  padding-left: 3px;
  padding-right: 3px;
}

.fake-container {
  padding-left: calc(1.5rem * .5);
  padding-right: calc(1.5rem * .5);
  width: 100%;
}

.float-left {
  float: left !important;
}

.float-right {
  float: right !important;
}

.page-name {
  overflow: hidden;
  text-overflow: ellipsis;
  color: white;
  font-size: 1.25rem;
  display: block;
  padding-top: .25rem;
}

.page-name-home {
  padding-left: .25rem;
}

@media only screen and (min-width: 835px) {
  .page-name-one {
    max-width: 90%;
  }
  .page-name-two {
    max-width: 90%;
  }
}

@media only screen and (min-width: 650px) {
  .page-name-two {
    max-width: 77%;
  }
}

@media only screen and (min-width: 435px) {
  .page-name-two {
    max-width: 67%;
  }
}

@media only screen and (max-width: 434px) {
  .page-name-two {
    max-width: 57%;
  }
}

@media only screen and (min-width: 427px) {
  .page-name-one {
    max-width: 80%;
  }
}

@media only screen and (max-width: 426px) {
  .page-name-one {
    max-width: 70%;
  }
}

.navbar {
  min-height: 3.5rem;
  overflow: hidden;
}

.always-block {
  display: block !important;
}

#inputPesquisa:focus {
  background-color: #3b3b3b;
  border: 1px solid white;
  outline: none !important;
  box-shadow: none;
}

@keyframes abrir {
  from {
    width: 0px;
  }
  to {
    width: 100%;
  }
}

#inputPesquisaContainer {
  width: 0px;
  animation-name: abrir;
  animation-duration: 0.3s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

select {
  width: 100%;
  background-color: #3b3b3b;
  border: 1px solid white;
  outline: none !important;
  box-shadow: none;
  color: white;
  padding: 0.5rem 1rem;
}

.close-offcanvas {
  margin: calc(-.5 * 1rem) calc(-.5 * 1rem) calc(-.5 * 1rem) auto;
}


/*old theme*/
body[data-tema="old"] {
  font-family: Arial !important;
}

body[data-tema="old"] > .navbar {
  background-color: rgb(241, 241, 241) !important;
  color: rgb(51, 51, 51) !important;
}

body[data-tema="old"] > .navbar > .offcanvas {
  background-color: #272727;
}

body[data-tema="old"] > .navbar > center > div > span.page-name {
  color: rgb(51, 51, 51) !important;
}

body[data-tema="old"] > .navbar > .offcanvas > .offcanvas-body > .offcanvas-title {
  color: #fff !important;
  padding: 0.5rem 1rem !important;
}

body[data-tema="old"] > .navbar > .offcanvas > .offcanvas-body > ul > li {
  border-top: 1px solid #323232 !important;
  border-bottom: 1px solid #1b1b1b !important;
  border-left: 0 !important;
  color: #ededed !important;
}

body[data-tema="old"] > .navbar > .offcanvas > .offcanvas-body > ul > li:hover {
  border-top: 1px solid #323232 !important;
  border-bottom: 1px solid #1b1b1b !important;
  color: #ededed !important;
  border-left: 4px solid #666 !important;
  background: #1c1c1c !important;
}

body[data-tema="old"] > .navbar > .offcanvas > .offcanvas-body > ul > li > a, body[data-tema="old"] > .navbar > .offcanvas > .offcanvas-body > ul > li > select {
  padding: 0.5rem 1rem;
}

body[data-tema="old"] > .navbar > .offcanvas > .offcanvas-body > ul > li > .switch {
  margin: 0.5rem 1rem;
}

body[data-tema="old"] > .navbar > .offcanvas > .offcanvas-body > ul > li > select {
  margin: 0.5rem 1rem;
  width: 90% !important;
}

body[data-tema="old"] > .navbar > center > div > button {
  color: rgba(51, 51, 51, .6) !important;
  background-color: rgb(249, 249, 249) !important;
  border: 1px solid rgb(213, 213, 213) !important;
  background-image: linear-gradient(#fefefe, #e3e3e3) !important;
  border-radius: 4px !important;
}

body[data-tema="old"] > .navbar > center > div > button:hover {
  color: rgba(51, 51, 51, 1) !important;
  background-color: rgb(249, 249, 249) !important;
  border: 1px solid rgb(213, 213, 213) !important;
  border-color: #aaa #aaa #999 !important;
  background-image: linear-gradient(#f0f0f0 0,#e6e6e6 100%) !important;
  border-radius: 4px !important;
  box-shadow: 0 1px 2px rgba(0,0,0,0.25),inset 0 0 3px #fff !important;
}

body[data-tema="old"] > .navbar > div > div > button {
  color: rgba(51, 51, 51, .6) !important;
  background-color: rgb(249, 249, 249) !important;
  border: 1px solid rgb(213, 213, 213) !important;
  background-image: linear-gradient(#fefefe, #e3e3e3) !important;
  border-radius: 4px !important;
}

body[data-tema="old"] > .navbar > div > div > button:hover {
  color: rgba(51, 51, 51, 1) !important;
  background-color: rgb(249, 249, 249) !important;
  border: 1px solid rgb(213, 213, 213) !important;
  border-color: #aaa #aaa #999 !important;
  background-image: linear-gradient(#f0f0f0 0,#e6e6e6 100%) !important;
  border-radius: 4px !important;
  box-shadow: 0 1px 2px rgba(0,0,0,0.25),inset 0 0 3px #fff !important;
}

body[data-tema="old"] > .navbar > center > div > a.home-icon > button {
  color: rgba(51, 51, 51, .6) !important;
  background-color: rgb(249, 249, 249) !important;
  border: 1px solid rgb(213, 213, 213) !important;
  background-image: linear-gradient(#fefefe, #e3e3e3) !important;
  border-radius: 4px !important;
}

body[data-tema="old"] > .navbar > center > div > a.home-icon > button:hover {
  color: rgba(51, 51, 51, 1) !important;
  background-color: rgb(249, 249, 249) !important;
  border: 1px solid rgb(213, 213, 213) !important;
  border-color: #aaa #aaa #999 !important;
  background-image: linear-gradient(#f0f0f0 0,#e6e6e6 100%) !important;
  border-radius: 4px !important;
  box-shadow: 0 1px 2px rgba(0,0,0,0.25),inset 0 0 3px #fff !important;
}

body[data-tema="old"] > .navbar > .offcanvas > .offcanvas-header {
  background: #6a6a6a !important;
}

body[data-tema="old"] > .navbar > .offcanvas > .offcanvas-body {
  background-color: #272727 !important;
  padding: 0 0 0 0 !important;
}

body[data-tema="old"] > .navbar > .offcanvas > .offcanvas-body > ul {
  padding-right: 0 !important;
  margin-top: -25px !important;
}

body[data-tema="old"] > .navbar > .offcanvas > .offcanvas-header > button {
  background: 0 !important;
  color: #fff !important;
  border: 1px solid rgb(213, 213, 213) !important;
  border-color: #151515 #151515 #000 !important;
  text-shadow: 0 -1px 0 rgba(0,0,0,.5) !important;
  box-shadow: inset 0 1px 0 rgba(256,256,256,.1) !important;
  background-image: linear-gradient(#383838 0,#151515 100%) !important;
  border-radius: 4px !important;
  filter: none !important;
  opacity: 1 !important;
}

body[data-tema="old"] > .navbar > .offcanvas > .offcanvas-header > .close-offcanvas:hover {
  border-color: #111 #111 #000 !important;
  background-color: #333 !important;
  box-shadow: inset 0 1px 0 rgba(256,256,256,.1),0 1px 3px rgba(0,0,0,.5) !important;
  background-image: linear-gradient(to bottom,#383838 0,#252525 100%) !important;
}

body[data-tema="old"] > .navbar > div > div > div > input {
  color: rgb(51, 51, 51) !important;
  background-color: rgb(255, 255, 255) !important;
  border: 1px solid rgb(213, 213, 213) !important;
  border-radius: 4px !important;
}

body[data-tema="old"] > .navbar > center > div > button.pesquisar-btn {
  margin-right: 5px !important;
}

body[data-tema="old"] > .pagecontent {
  text-align: left !important;
  align-content: center !important;
  margin-bottom: 20px !important;
}

body[data-tema="old"] > .pagecontent > div.row {
  display: grid !important;
  row-gap: 0.5rem !important;
  column-gap: 1rem !important;
}

@media only screen and (max-width: 575px) {
  body[data-tema="old"] > .pagecontent > div.row {
    grid-template-columns: repeat(1, 1fr) !important;
  }
}

@media only screen and (min-width: 576px) {
  body[data-tema="old"] > .pagecontent > div.row {
    grid-template-columns: repeat(2, 1fr) !important;
  }
}

@media only screen and (min-width: 768px) {
  body[data-tema="old"] > .pagecontent > div.row {
    grid-template-columns: repeat(4, 1fr) !important;
  }
}

body[data-tema="old"] > .pagecontent > div > div.col {
  border: 1px solid rgb(213, 213, 213) !important;
  width: 100% !important;
  height: 100% !important;
  padding-top: 20px !important;
  padding-bottom: 20px !important;
}

body[data-tema="old"] > .pagecontent > div > div.col:hover {
  background: #f6f6f6 !important;
  border: 1px solid #ebebeb !important;
}

body[data-tema="old"] > .pagecontent > div > div.col:hover a > span.subtitle {
  color: #438bc5 !important;
}

body[data-tema="old"] > .pagecontent > div > div > a > span {
  margin-left: 1px !important;
  margin-right: 1px !important;
}

body[data-tema="old"] > .pagecontent > div > div > a > span.title {
  color: #438bc5 !important;
  font-weight: bold !important;
}

body[data-tema="old"] > .pagecontent > div > div > a > span.title:hover {
  text-decoration: underline;
}

body[data-tema="old"] > .pagecontent > div > div > a > img.img-fluid, body[data-tema="old"] > .pagecontent > div > div > a > div > img.img-fluid, body[data-tema="old"] > .pagecontent > div > div > a > span.video-length, body[data-tema="old"] > .pagecontent > div > div > a > div > span.video-length {
  margin-bottom: 15px !important;
}

body[data-tema="old"] > .pagecontent > div > div > a > span.subtitle {
  color: #222 !important;
  font-size: 0.8rem !important;
}

body[data-tema="old"] > .pagecontent > div > div > a > span.subtitle:hover {
  text-decoration: underline;
}

body[data-tema="old"] > .pagecontent > p.flow-text > i.fa-arrow-up {
  margin-left: 35px;
}

body[data-tema="old"] > .pagecontent > p > a.btn-dark {
  margin-left: 90px;
  color: rgba(51, 51, 51, 1) !important;
  background-color: rgb(249, 249, 249) !important;
  border: 1px solid rgb(213, 213, 213) !important;
  background-image: linear-gradient(#fefefe, #e3e3e3) !important;
  border-radius: 4px !important;
}

body[data-tema="old"] > .pagecontent > p > a.btn-dark:hover {
  background-color: rgb(249, 249, 249) !important;
  border: 1px solid rgb(213, 213, 213) !important;
  border-color: #aaa #aaa #999 !important;
  background-image: linear-gradient(#f0f0f0 0,#e6e6e6 100%) !important;
  border-radius: 4px !important;
  box-shadow: 0 1px 2px rgba(0,0,0,0.25),inset 0 0 3px #fff !important;
}

body[data-tema="old"] > .pagecontent > p > a.btn-dark:not(:hover) i.fa-home {
  color: rgba(51, 51, 51, .6) !important;
}

body[data-tema="old"] > .pagecontent > .card, body[data-tema="old"] > .pagecontent > .card > ul, body[data-tema="old"] > .pagecontent > .card > ul > li {
  border: 0 !important;
  border-radius: 0 !important;
}

body[data-tema="old"] > .pagecontent > .card > ul > li {
  padding-left: 0 !important;
}

body[data-tema="old"] > .pagecontent > .card > ul > li::before {
  content: "\25CF";
  margin-right: 5px;
}


/*dracula theme tananaaaan aquela musica do bach*/

:root {
  --dracula-bg: #282a36;
  --dracula-sel: #44475a;
  --dracula-fg: #f8f8f2;
  --dracula-comm: #6272a4;
  --dracula-cyan: #8be9fd;
  --dracula-green: #50fa7b;
  --dracula-orange: #ffb86c;
  --dracula-pink: #ff79c6;
  --dracula-purple: #bd93f9;
  --dracula-red: #ff5555;
  --dracula-yellow: #f1fa8c;
}

body[data-tema="dracula"] {
  background-color: var(--dracula-bg) !important;
}

body[data-tema="dracula"] > .navbar {
  background-color: var(--dracula-sel) !important;
  color: var(--dracula-fg) !important;
}

body[data-tema="dracula"] > .navbar > center > div > span.page-name {
  color: var(--dracula-fg) !important;
}

body[data-tema="dracula"] > .navbar > center > div > button {
  background-color: var(--dracula-sel) !important;
}

body[data-tema="dracula"] > .navbar > div > div > button:not(.btn-close) {
  background-color: var(--dracula-sel) !important;
}

body[data-tema="dracula"] > .navbar > center > div > a.home-icon > button {
  background-color: var(--dracula-sel) !important;
}

body[data-tema="dracula"] > .navbar > div > div > div > input {
  background-color: var(--dracula-bg) !important;
}

body[data-tema="dracula"] > .pagecontent > div > div > a > span.title {
  color: var(--dracula-red) !important;
}

body[data-tema="dracula"] > .pagecontent > div > div > a > span.subtitle {
  color: var(--dracula-orange) !important;
  font-style: italic !important;
}

body[data-tema="dracula"] > .pagecontent > div > div > a > span.video-length, body[data-tema="dracula"] > .pagecontent > div > div > a > div > span.video-length {
  color: var(--dracula-fg) !important;
}

body[data-tema="dracula"] > .navbar > .offcanvas {
  background-color: var(--dracula-sel) !important;
}

body[data-tema="dracula"] > .navbar > .offcanvas > .offcanvas-body > .offcanvas-title {
  color: var(--dracula-red) !important;
}

body[data-tema="dracula"] > .navbar > .offcanvas > .offcanvas-body > ul > li > a {
  color: var(--dracula-orange) !important;
  font-style: italic !important;
}

body[data-tema="dracula"] > .navbar > .offcanvas > .offcanvas-body > ul > li > select {
  background-color: var(--dracula-sel) !important;
  border: 1px solid var(--dracula-fg) !important;
  color: var(--dracula-orange) !important;
}

body[data-tema="dracula"] > .pagecontent > div > div.col > p {
  color: var(--dracula-fg) !important;
}

body[data-tema="dracula"] > .pagecontent > p, body[data-tema="dracula"] > .pagecontent > h4 {
  color: var(--dracula-fg) !important;
}

body[data-tema="dracula"] > .pagecontent > p > a.btn-dark {
  background-color: var(--dracula-sel) !important;
  color: var(--dracula-fg) !important;
}


/*terminal theme*/
body[data-tema="terminal"] {
  font-family: 'AdwaitaMono-Regular' !important;
  background-color: black !important;
  color: white !important;
}

body[data-tema="terminal"] > .pagecontent > div > div > a > span.title {
  color: white !important;
  font-weight: bold !important;
}

body[data-tema="terminal"] > .pagecontent > div > div > a > span.subtitle {
  color: white !important;
  font-size: 0.8rem !important;
}

body[data-tema="terminal"] > .navbar {
  background-color: black !important;
}

body[data-tema="terminal"] > .navbar > center > div > span.page-name {
  color: white !important;
  font-weight: bold !important;
}

body[data-tema="terminal"] > .navbar > center > div > button {
  background-color: black !important;
}

body[data-tema="terminal"] > .navbar > div > div > button:not(.btn-close) {
  background-color: black !important;
}

body[data-tema="terminal"] > .navbar > center > div > a.home-icon > button {
  background-color: black !important;
}

body[data-tema="terminal"] > .pagecontent > p > a.btn-dark {
  background-color: black !important;
  color: white !important;
}

body[data-tema="terminal"] > .navbar > div > div > div > input {
  background-color: black !important;
}

body[data-tema="terminal"] > .navbar > .offcanvas {
  background-color: black !important;
}

body[data-tema="terminal"] > .navbar > .offcanvas > .offcanvas-body > ul > li > select {
  background-color: black !important;
}