html {
  scroll-padding-top: calc(4.40625rem + 20px);
}

body > .container {
  margin-top: 20px;
}

.navbar.fixed-top {
  position: -webkit-sticky;
  position: sticky;
}

.navbarbg {
  background-color: rgb(43, 48, 53);
}

.navbartext, .home-icon {
  color: white !important;
}
/*
@media (max-width: 575px) {
  .page-name {
    font-size: 4.2vw !important;
  }
}

@media (min-width: 576px) {
  .page-name {
    font-size: 1.25rem !important;
  }
}
*/
.col {
  margin: 1rem 0;
}

.title {
  color: black;
}

.subtitle {
  color: rgb(150, 148, 148);
}

a:link { 
  text-decoration: none; 
} 
a:visited { 
  text-decoration: none; 
} 
a:hover { 
  text-decoration: none; 
} 
a:active { 
  text-decoration: none; 
}

.header404{
  font-size: 48px;
}

.float-right {
  float: right !important;
}

#inputPesquisa:focus {
  background-color: #3b3b3b;
  border: 1px solid white;
  outline: none !important;
  box-shadow: none;
}

@keyframes abrir {
  from {
    width: 0px;
  }
  to {
    width: 100%;
  }
}

#inputPesquisaContainer {
  width: 0px;
  animation-name: abrir;
  animation-duration: 0.3s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.page-name {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  color: white;
  font-size: clamp(0.25rem, 2.5vw, 1.25rem) !important;
}

.default-container {
  overflow: hidden;
  text-overflow: ellipsis;
}

.container-auto {
  max-width: 100%;
}

.navbar {
  min-height: 3.5rem;
}

@media only screen and (max-width: 767px) {
  .videoplayer {
    width: 100vw;
  }
  #jsonIframe {
    width: 100%;
    margin-top: 10px;
    aspect-ratio: 16 / 9;
  }
}
@media only screen and (min-width: 768px) {
  .videoplayer {
    width: 80vw;
  }
  #jsonIframe {
    width: 100%;
    height: calc(100vh - 4rem - 20px);
    margin-top: 10px;
    aspect-ratio: 16 / 9;
  }
}

.thumbnail {
  position: relative;
}

.video-length {
  z-index: 2;
  position: absolute;
  bottom: 3%;
  right: 3%;
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
  padding-left: 3px;
  padding-right: 3px;
}