@font-face {
  font-family: 'AdwaitaSans-Regular';
  src: url('../assets/fonts/adwaita-sans/AdwaitaSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'AdwaitaSans-Italic';
  src: url('../assets/fonts/adwaita-sans/AdwaitaSans-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'AdwaitaMono-Regular';
  src: url('../assets/fonts/adwaita-mono/AdwaitaMono-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'AdwaitaMono-Italic';
  src: url('../assets/fonts/adwaita-mono/AdwaitaMono-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'AdwaitaMono-Bold';
  src: url('../assets/fonts/adwaita-mono/AdwaitaMono-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'AdwaitaMono-BoldItalic';
  src: url('../assets/fonts/adwaita-mono/AdwaitaMono-BoldItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'MPlus-Regular';
  src: url('../assets/fonts/mplus/mplus-1p-regular.ttf') format('truetype');
}

@font-face {
  font-family: 'MPlus-Bold';
  src: url('../assets/fonts/mplus/mplus-1p-bold.ttf') format('truetype');
}

@font-face {
  font-family: 'InterUI-Regular';
  src: url('../assets/fonts/inter-ui/inter-ui-regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Pixelated MS Sans Serif';
  src: url('../assets/fonts/ms-sans-serif/MS Sans Serif.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Pixelated MS Sans Serif';
  src: url('../assets/fonts/ms-sans-serif-bold/MS Sans Serif Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

.animate-opacity{animation:opac 0.8s}@keyframes opac{from{opacity:0} to{opacity:0.5}}
.animate-right{position:relative;animation:animateright 0.4s}@keyframes animateright{from{right:-300px;opacity:0} to{right:0;opacity:1}}
.animate-abrir{animation:abrir 0.3s}@keyframes abrir {from {width: 0px;}to {width: 100%;}}

.animate-sidebar-fechar{position:relative;animation:sidebaropen 0.4s;}@keyframes sidebaropen{from{right:0;opacity:1} to{right:-300px;opacity:0;}}

.tab-item.active {
    font-weight: bold;
    border-bottom: 0.125rem solid black;
}