.col {
  margin: 1rem 0;
}

.title {
  color: black;
}

.subtitle {
  color: rgb(150, 148, 148);
}

.pagecontent {
  margin-top: 1rem;
  padding-top: 0.5rem;
}

a:link { 
  text-decoration: none; 
} 
a:visited { 
  text-decoration: none; 
} 
a:hover { 
  text-decoration: none; 
} 
a:active { 
  text-decoration: none; 
}

.navbarbg {
  background-color: rgb(43, 48, 53);
}

.navbartext {
  color: white !important;
}