:root {
    --main-bg: white;
    --border-color: black;
    --text-color: black;
    --tab-color-default: #c1c1c1;
    --tab-color-active: #a3a3a3;
    --option-hover: rgba(0,0,0,.1);
    --dracula-orange: #ffb86c;
    --dracula-pink: #ff79c6;
    --dracula-purple: #bd93f9;
    --dracula-red: #ff5555;
    --dracula-yellow: #f1fa8c;
}

.page {
    display: none;
}

#loading {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  background-color: var(--main-bg);
}

* {
    transition: 0.3s ease, display 0.3s ease allow-discrete;
	user-select: none;
}

.sections-overlap {
    padding-top: 40px;
    padding-bottom: 95px;
}

.TabOpening.:not(.hide) {
    opacity: 1;
    display: block;
    @starting-style {
        opacity: 0;
    }
}

.TabOpening.hide {
    opacity: 0;
    display: none;
    @starting-style {
        opacity: 1;
    }
}

.TabOpening {
	animation: opac 0.3s;
}

@keyframes opac {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
  
#TopActionBar {
    width: 100%;
    background: var(--main-bg);
    height: 34px;
    border-bottom: 1px solid var(--border-color);
    position: fixed;
    top: 0;
    z-index: 5;
}

#LikeTopBar {
    float: left;
    margin-left: 5px;
    padding-top: 3px;
}

#mini-like-icon {
    vertical-align: text-top;
    color: var(--text-color);
}

.material-icons {
    color: var(--text-color);
    display: inline-flex;
    vertical-align: middle;
}

@font-face {
	font-family: 'fontelloicons';
	src: url('fontelloicons/font/fontello.eot?87245832');
	src: url('fontelloicons/font/fontello.eot?87245832#iefix') format('embedded-opentype'),
		url('fontelloicons/font/fontello.woff?87245832') format('woff'),
		url('fontelloicons/font/fontello.ttf?87245832') format('truetype'),
		url('fontelloicons/font/fontello.svg?87245832#fontelloicons') format('svg');
	font-weight: normal;
	font-style: italic;
}

.fontelloicons:before {
	text-decoration: none;
	transition: color 0.3s ease;
	font-family: 'fontelloicons';
	speak: none;
	display: inline-block;
	font-variant: normal;
}

.fontelloicons {
    font-size: 20px;
    line-height: 1;
}

.fontelloicons.icon-reddit:before {
    content: '\f281';
}

.fontelloicons.icon-github:before {
    content: '\f09b';
}

.fontelloicons.icon-twitter:before {
    content: '\f099';
}

.fontelloicons.icon-toggle-on:before {
    content: '\f205';
}

.fontelloicons.icon-toggle-off:before {
    content: '\f204';
}

.fontelloicons.icon-android:before {
    content: '\e80a';
}

.fontelloicons.icon-windows:before {
    content: '\f17a';
}

.fontelloicons.icon-desktop:before {
    content: '\e807';
}

.fontelloicons.icon-trash:before {
    content: '\e806';
}

.fontelloicons.icon-info-circled:before {
    content: '\f085';
}

.fontelloicons.icon-code:before {
    content: '\f121';
}

.fontelloicons.icon-changelog:before {
    content: '\e808';
}

.fontelloicons.icon-save:before {
    content: '\e80b';
}

.fontelloicons.icon-load:before {
    content: '\f02f';
}

.fontelloicons.icon-brush:before {
    content: '\f1fc';
}

.fontelloicons.icon-musics:before {
    content: '\e801';
}

.fontelloicons.icon-language:before {
    content: '\e80d';
}

.alltabs {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.allshoptabs {
    border-bottom: 1px solid var(--border-color);
    line-height: calc(1rem*2);
}

.menutab {
    width: 100%;
    height: 100%;
    background-color: var(--tab-color-default);
    text-align: center;
    display: flex;
    display: -webkit-flex;
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important;
}

.menutab.active {
    background-color: var(--tab-color-active);
}

.menutab.create-border {
    border-right: 1px solid var(--border-color);
}

.menutabcontent, .menutabcontent > * {
    margin: auto;
}

#LikeBtnDiv {
    width: min-content;
}

@media only screen and (min-width: 601px) {
    #LikeBtnDiv:not(:hover) {
        scale: 1 !important;
    }
    #LikeBtnDiv:hover {
        scale: 0.95;
    }
}

@keyframes likeclicked {
    0% {
        scale: 0.85;
    }
    100% {
        scale: 1;
    }
}

.pointer-events {
    pointer-events: none !important;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.parent-flex {
    display: flex;
    display: -webkit-flex;
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important;
}

.child-flex {
    margin: auto;
    width: 100%;
}

.child-flex-vertical {
    margin: auto 0 auto 0;
}

#ShopSection {
    margin-top: 15px;
}

.ItemTable {
    width: 100%;
}

.shopitem {
    border: 1px solid var(--border-color);
    padding-top: 5px;
    padding-bottom: 5px;
    width: 80%;
}

@media only screen and (max-width: 600px) {
    .shopitem {
        width: 100%;
    }
}

.BuyButton {
    text-align: center;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    width: 180px;
    height: 100px;
    text-align: center;
    display: flex;
    display: -webkit-flex;
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important;
}

.BuyButtonContent {
    margin: auto;
}

.shop-add-icon {
    font-size: 50px !important;
}

.ItemRow {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    align-items: center;
}

.ItemBuy {
    align-items: center;
    width: 35%;
}

.ItemInfo {
    width: 35%;
}

.ItemDesc {
    width: 80%;
    margin: auto;
}

@media only screen and (min-width: 601px) {
    .ItemDesc {
        opacity: 0;
        font-size: 0;
        line-height: 0;
        display: none;
    }
}

@media only screen and (min-width: 601px) {
    .ItemDiv:hover .ItemDesc {
        opacity: 1;
        font-size: inherit;
        line-height: inherit;
        display: block;
        @starting-style {
            opacity: 0;
            font-size: 0;
            line-height: 0;
        }
    }
}

.ItemInfoMobile {
    width: 80%;
    margin: auto;
}

.item-lps1.itemlps-mobile {
    margin-left: 10px;
}

.item-name.item-name-mobile {
    margin-left: 10px;
}

.ItemHave {
    /*width: min-content !important;*/
    width: 20%;
}

.item-number {
    right: 12%;
    position: absolute;
    transform: translateY(-50%);
}

@media only screen and (max-width: 600px) {
    .item-number {
        right: 3%;
    }
    .ItemBuy {
        margin-left: 3%;
    }
}

.hide-pc {
    display: none;
}

@media only screen and (max-width: 600px) {
    .hide-pc {
        display: block;
    }
}

.hide-mobile {
    display: block;
}

@media only screen and (max-width: 600px) {
    .hide-mobile {
        display: none;
    }
}

.toast-area {
    right: 5px;
    position: absolute;
    transform: translateY(-105%);
}

.newupgradeicon.:not(.hide) {
    opacity: 1;
    display: block;
    @starting-style {
        opacity: 0;
    }
}

.newupgradeicon.hide {
    opacity: 0;
    display: none;
    @starting-style {
        opacity: 1;
    }
}

.newupgradeicon {
	animation: opac 0.3s;
}

@keyframes opac {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.pointer {
    cursor: pointer;
}

.config-category, .config-option {
    text-align: left;
}

.config-category, .config-option, .config-hr {
    width: 80%;
}

@media only screen and (max-width: 600px) {
    .config-category, .config-option, .config-hr {
        width: 90%;
    }
}

.config-category {
    padding-top: 10px;
    padding-left: 5px;
}

.config-option {
    background-color: var(--main-bg);
    border: 1px solid var(--border-color);
    color: var(--text-color);
    padding: 5px 0 5px 5px;
    margin-bottom: 5px;
    text-decoration: none;
}

.config-option:hover {
    background-color: var(--option-hover);
}

.config-hr {
    margin: 1rem 0;
    border: 1px solid var(--border-color);
    opacity: .25;
}

.checkbox {
    padding-right: 5px;
}

.checkbox.hidden {
    display: none;
    visibility: hidden;
}

.checkbox:not(.hidden) {
    display: block;
    visibility: initial;
}