:root {
    --main-bg: white;
    --border-color: black;
    --text-color: black;
    --tab-color-default: #c1c1c1;
    --tab-color-active: #a3a3a3;
    --dracula-green: #50fa7b;
    --dracula-orange: #ffb86c;
    --dracula-pink: #ff79c6;
    --dracula-purple: #bd93f9;
    --dracula-red: #ff5555;
    --dracula-yellow: #f1fa8c;
}

.page {
    display: none;
}

#loading {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  background-color: var(--main-bg);
}

* {
    transition: 0.3s ease;
	user-select: none;
}

section {
    padding-top: 34px;
    scroll-padding-top: 34px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
}
  
#TopActionBar {
    width: 100%;
    background: var(--main-bg);
    height: 34px;
    border-bottom: 1px solid var(--border-color);
    position: fixed;
    top: 0;
}

#LikeTopBar {
    float: left;
    margin-left: 5px;
    padding-top: 3px;
}

#mini-like-icon {
    vertical-align: text-top;
    color: var(--text-color);
}

.material-icons {
    color: var(--text-color);
    display: inline-flex;
    vertical-align: middle;
}

.alltabs {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.menutab {
    width: 100%;
    background-color: var(--tab-color-default);
    text-align: center;
    display: flex;
    display: -webkit-flex;
}

.menutab.active {
    background-color: var(--tab-color-active);
}

.menutab.create-border {
    border-right: 1px solid var(--border-color);
}

.menutabcontent, .menutabcontent > * {
    margin: auto;
}

#LikeBtnDiv:not(:hover) {
    scale: 1 !important;
}

#LikeBtnDiv:hover {
    scale: 0.95;
}

@keyframes likeclicked {
    0% {
        scale: 0.85;
    }
    100% {
        scale: 1;
    }
}

.pointer-events {
    pointer-events: none !important;
}